 <h1 style="text-align: center; color: RED">COMPREHENSIONS</h1> 

Birden satır ve kod ile yapılabilecek işlemleri kolayca istediğimiz çıktı ve veri yapısına göre tek bir satırda gerçekleştirme imkanı sağlayan yapılardır.

<span style="color: blue; font-weight: bold;">List Comprehension:</span>
[ ] bu yapının içerisine döngü, if else yapıları, fonksiyonlar vb. matematiksel işlemler yerleştirilerek buradan çıkacak sonucun tek bir liste halinde tutulması sağlanır

In [10]:
# Klasik yol
salaries = [1000, 2000, 3000, 4000, 5000]
def new_salary(x):
    return x * 20/100 + x
#zam yaptığımız maaşları yeni bir listede saklamak isityoruz.

null_list = []
for salary in salaries:
    null_list.append(new_salary(salary))
print(null_list)

null_list2 = []

for salary in salaries:
    if salary > 3000:
        null_list2.append(new_salary(salary))
    else:
        null_list2.append(new_salary(salary*2))
print(null_list2)

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]
[2400.0, 4800.0, 7200.0, 4800.0, 6000.0]

In [12]:
#Yukarıdaki işlemleri List Comprehension ile yapma
[new_salary(salary) if salary > 3000 else new_salary(salary*2) for salary in salaries]#tek satırda yazdık

[2400.0, 4800.0, 7200.0, 4800.0, 6000.0]

In [16]:
salaries = [1000, 2000, 3000, 4000, 5000]
[salary*2 for salary in salaries]

[2000, 4000, 6000, 8000, 10000]

In [20]:
[salary *2 for salary in salaries if salary < 3000]#maaşı 3000 den küçük olanları çarptı
# eğer if else yapısnı birklikte kullanmıyorsak if yapısı en sağa yazılır

[2000, 4000]

In [22]:
[salary *2 if salary <3000 else salary*0 for salary in salaries]

[2000, 4000, 0, 0, 0]

In [24]:
salaries = [1000, 2000, 3000, 4000, 5000]
def new_salary(x):
    return x * 20/100 + x
[new_salary(salary*2) if salary > 3000 else new_salary(salary*0.2) for salary in salaries]#fonk ile kullanımı

[240.0, 480.0, 720.0, 9600.0, 12000.0]

**Elimizde iki liste var yapmak istediğim şey students_no listesinde bulunan öğrencilerin harflerini küçük o listede olmayanları  büyük harfle yazdırmak**

In [28]:
students = ['John', 'Mark', 'Venassa', 'Mariam']
students_no = ['John', 'Venassa']
print([student.lower() if student in students_no else student.upper() for student in students ])

['john', 'MARK', 'venassa', 'MARIAM']

<span style="color: blue; font-weight: bold;">Dict Comprehension:</span>

Karmaşık olarak kabul edilebilecek ve birden fazla satırda ifade edilmesi gerekebilecek olan işlemleri tek satırda ifade etmeyi sağlar.

In [34]:
dictionary = {'a':1,'b':2,'c':3,'d':4}

{key: value **2 for key, value in dictionary.items()}# her bir value değerin karesini almayı tek satırda yaptık

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

In [36]:
dictionary = {'a':1,'b':2,'c':3,'d':4}

{key.upper(): value  for key, value in dictionary.items()}

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [38]:
dictionary = {'a':1,'b':2,'c':3,'d':4}

{key.upper(): value**2  for key, value in dictionary.items()}

{'A': 1, 'B': 4, 'C': 9, 'D': 16}

<span style="color: blue; font-weight: bold;">Uygulama - Mülakat Sorusu Dict Comprehensions:</span>

**Amaç:** Listedeki çift sayıların karesi alınarak bir sözlüğe eklenmek istenmektedir.

In [65]:
#Klasik Yöntem
numbers = range(10)#0-10 arasında rastgele sayı ürettik
new_dict = {}

for n in numbers:
    if n % 2 == 0:
        new_dict[n] = n**2
print(new_dict)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [67]:
#Dict Coprehension Yöntemi
{n:n**2 for n in numbers if n % 2==0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [59]:
{col:col**2 for col in numbers if col%2==0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

<span style="color: blue; font-weight: bold;">List & Dict Comprehensions Uygulamaları - 1</span>

**Uygulama-1:** Bir veri setindeki değişken isimlerini değiştirmek

In [95]:
import seaborn as sns
df = sns.load_dataset('car_crashes')# bu kısımlar ileriki konular
df.columns = [col.upper() for col in df.columns]# değişken isimlerde gezdik ve her değişken ismini büyüttük
print(df.columns)

Index(['TOTAL', 'SPEEDING', 'ALCOHOL', 'NOT_DISTRACTED', 'NO_PREVIOUS',
       'INS_PREMIUM', 'INS_LOSSES', 'ABBREV'],
      dtype='object')

**Uygulama-2:** İsminde 'INS' olanların başında FLAG diğerlerine NO_FLAG eklemek.

In [97]:
df.columns = ['FLAG_'+ col if 'INS' in col else 'NO_FLAG_'+ col for col in df.columns]# değişken isimlerde gezdik ve her değişken ismini büyüttük
print(df.columns)

Index(['NO_FLAG_TOTAL', 'NO_FLAG_SPEEDING', 'NO_FLAG_ALCOHOL',
       'NO_FLAG_NOT_DISTRACTED', 'NO_FLAG_NO_PREVIOUS', 'FLAG_INS_PREMIUM',
       'FLAG_INS_LOSSES', 'NO_FLAG_ABBREV'],
      dtype='object')

**Uygulama-3:** Amaç key'i string, value'su aşağıdaki gibi olan bir sözlük oluşturmak.Fakat bu işlemi sadece sayısal değişkenler için yapacaz.

{'total': ['mean', 'min', 'max', 'var'],

'speeding': ['mean', 'min', 'max', 'var'],}

In [136]:
import seaborn as sns
df = sns.load_dataset('car_crashes')# bu kısımlar ileriki konular
liste = ['mean', 'min', 'max', 'var']
new_dict = {col:liste for col in df.columns if df[col].dtype != 'O' }

#df[col] ile değişkenin kendisin eulaştı. dtpe ile tipini sorguladık
#df[col].dtype != 'O' tipi object olanlrın dışındakiler yani int float değerleri secer