 <h1 style="text-align: center; color: RED">ÖDEV ÇÖZÜMLERİ</h1>

<span style="color: blue; font-weight: bold;">GÖREV1:</span> Verilen değerlerin veri yapılarını inceleyiniz
* x = 8
* y = 3.2
* z = 8j + 18
* a = 'Hello World'
* b = 'True'
* c = 23 < 22
* l = [1,2,3,4]
* d = {'name':'jake',
     'age':27,
     'Adress':'downtown'}
* t = ('Machine Learning', 'Data Science')
* s = {'Python','Machine Learning', 'Data Science'}

**Çözüm**: Bir değişkenin ya da değerin veri tipini incelemek istiyorsak 'type()' fonksiyonunu kullanırız.

In [10]:
x = 8
y = 3.2
z = 8j + 18
a = 'Hello World'
b = 'True'
c = 23 < 22
l = [1,2,3,4]
d = {'name':'jake',
     'age':27,
     'Adress':'downtown'}
t = ('Machine Learning', 'Data Science')
s = {'Python','Machine Learning', 'Data Science'}
print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))
print(type(c))
print(type(l))
print(type(d))
print(type(t))
print(type(s))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>

<span style="color: blue; font-weight: bold;">GÖREV2:</span> Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz, kelime kelime ayırınız.

Beklenen çıktı: ['THE', 'GOAL', 'IS', 'TO', 'TURN', 'DATA', 'INTO', 'INFORMATION', 'AND', 'INFORMATION', 'INTO', 'INSIGHT']

**Çözüm:** Upper metodu ile tüm harfleri büyütebiliriz. Virgül ve nokta yerini space ile değiştirmek için replace() metodunu kullanabiliriz. Ayrıca çıktının yukarıdaki tek tek liste halinde olması için split() metodunu kullanmalıyız.

In [15]:
text = 'The goal is to turn data into information, and information into insight.'

new_text  = text.upper().replace(',', '').replace('.', '').split()
print(new_text)

['THE', 'GOAL', 'IS', 'TO', 'TURN', 'DATA', 'INTO', 'INFORMATION', 'AND', 'INFORMATION', 'INTO', 'INSIGHT']

<span style="color: blue; font-weight: bold;">GÖREV3:</span> Verilen listeye aşağıdaki adımları uygulayınız.

Adım1: Listenin eleman sayısına bakınız.

Adım2: Sıfırıncı ve onuncu indexteki elnemanı çağırın.

Adım3: Verilen liste üzerinden ['D','A','T','A'] listesi oluşturunuz.

Adım4:Sekizinci indexteki elemanı siliniz.

Adım5: Yeni bir eleman ekleyiniz

Adım6: Sekizinci indexe 'N' elemanını tekrar ekleyiniz.

In [19]:
lst = ['D','A','T','A','S','C','I','E','N','C','E']

#ADIM 1:Eleman sayısına bakmak için len fonksiyonunu kullanırız.

print(len(lst))

11

In [25]:
#ADIM 2
print(lst[0],lst[10])

D E

In [29]:
#ADIM 3:slice işlemi ile bunu gerçekleştirebiliriz
lst[0:4]

['D', 'A', 'T', 'A']

In [31]:
#ADIM 4: pop metodu silme işlemi yapar.

lst.pop(8)#N harfini siler
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [33]:
#ADIM 5: Eleman eklemek için append ve insert metotlarını kullanabiliriz.
lst.append('miuul')
print(lst)

#NOT: lst = lst +'N' şeklinde de listenin sonuna eleman ekleyebiliriz.

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'miuul']

In [35]:
#ADIM 6
lst.insert(8, 'N')
print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'miuul']

<span style="color: blue; font-weight: bold;">GÖREV4:</span> Verilen sozluk yapisine asagidaki adimlari uygulayiniz.

Adim1: Key degerlerine erisin.

Adim2: value degerlerine erisin.

Adim3: daisy keyine ait 12 degereini 13 olarak güncelle

Adim4: key değeri Ahmet value değeri [Turkey, 24] olan yeni değer ekle.

Adim5:Antonio' yu dictionaryden sil.

In [42]:
dict = {'Christian': ['America', 18],
        'Daisy': ['England', 12],
        'Antonio': ['Spain', 22],
        'Christian': ['Italy,', 25]}

#ADIM 1:
dict.keys()

dict_keys(['Christian', 'Daisy', 'Antonio'])

In [44]:
#ADIM 2:
dict.values()

dict_values([['Italy,', 25], ['England', 12], ['Spain', 22]])

In [48]:
#ADIM 3:
dict['Daisy'] = ['England', 13]
print(dict)

{'Christian': ['Italy,', 25], 'Daisy': ['England', 13], 'Antonio': ['Spain', 22]}

In [50]:
#ADIM 4:
dict.update({'Ahmet':['Turkey', 24]})
print(dict)

{'Christian': ['Italy,', 25], 'Daisy': ['England', 13], 'Antonio': ['Spain', 22], 'Ahmet': ['Turkey', 24]}

In [52]:
# ADIM 5:
dict.pop('Antonio')
print(dict)

{'Christian': ['Italy,', 25], 'Daisy': ['England', 13], 'Ahmet': ['Turkey', 24]}

In [56]:
dict['Daisy'].pop(1) #daisy key 'nin 1 numaralı indexindeki değeri siler
print(dict)

{'Christian': ['Italy,', 25], 'Daisy': ['England'], 'Ahmet': ['Turkey', 24]}

<span style="color: blue; font-weight: bold;">GÖREV5:</span> Arguman olarak liste alan,listenin icerisindeki tek ve cift sayilari ayrı ayrı listelere atayan bu listeri return eden fonksiyon yazınız.

In [1]:
l = [2,13,18,93,22]

def check_list(numbers):
    tek = []
    cift = []
    for number in numbers:
        if number % 2 ==0:
            tek.append(number)
        else:
            cift.append(number)
    return tek, cift
tek, cift = check_list(l)
print(f'Tek sayıların listesi : {tek}')
print(f'Cift sayıların listesi: {cift}')

Tek sayıların listesi : [2, 18, 22]
Ciftr sayıların listesi: [13, 93]

In [15]:
#2. yol

def func(list):
    çift_list, tek_list  = [x for x in list if x % 2 == 0], [x for x in list if x % 2 != 0]
    return çift_list, tek_list

func(l)

([2, 18, 22], [13, 93])

<span style="color: blue; font-weight: bold;">GÖREV6:</span> Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri bulunmaktadır. Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de tıp fakültesi öğrenci sırasına aittir. Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.
Beklenen çıktı,

Mühendislik fakültesi 1. öğrenci: Ali

Mühendislik fakültesi 2. öğrenci: Ali

Mühendislik fakültesi 3. öğrenci: Ali

Tıp fakültesi 1. öğrenci: Talat

Tıp fakültesi 2. öğrenci: Talat

Tıp fakültesi 3. öğrenci: Talat

In [27]:
ogrenciler = ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]

for index,ogrenci in enumerate(ogrenciler,1):
    if index<=3:
        print(f'Mühendislik fakültesi {index}.öğrenci: {ogrenci}')
    else:
        print(f'Tıp fakültesi {index-3}.öğrenci: {ogrenci}')

Mühendislik fakültesi 1.öğrenci: Ali
Mühendislik fakültesi 2.öğrenci: Veli
Mühendislik fakültesi 3.öğrenci: Ayşe
Tıp fakültesi 1.öğrenci: Talat
Tıp fakültesi 2.öğrenci: Zeynep
Tıp fakültesi 3.öğrenci: Ece

<span style="color: blue; font-weight: bold;">GÖREV7:</span> Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu,kredisi ve kontenjan bilgileri yer almaktadır. Zip kullanarak ders bilgilerini bastırınız.
Beklenen çıktı

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.

Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.

In [46]:
ders_kodu = ["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi = [3,4,2,4]
kontenjan = [30,75,150,25]
zip_list = list(zip(kredi,ders_kodu, kontenjan))
print(zip_list)

for i in zip_list:
    print(f'Kredisi {i[0]} olan {i[1]} kodlu dersin kontenjanı {i[2]}')

#2.yol
for dk, krd, k in zip(kredi,ders_kodu, kontenjan):
    print(f"Kredisi {krd} olan {dk} kodlu dersin kontenjanı {k} kişidir.")

[(3, 'CMP1005', 30), (4, 'PSY1001', 75), (2, 'HUK1005', 150), (4, 'SEN2204', 25)]
Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25

<span style="color: blue; font-weight: bold;">GÖREV8:</span> Aşağıda 2 adet set verilmiştir.
Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını
eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu
tanımlamanız beklenmektedir.
Beklenen çıktı:

{'function','qcut','miuul','lambda'}

In [63]:
kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])

def kume(set1, set2):
    if set1.issuperset(set2):
        print(set1 & set2)
    else:
        print(set2 - set1)

kume(kume1, kume2)

{'qcut', 'miuul', 'function', 'lambda'}