<h1 style="text-align: center; color: RED">HYBRID RECOMMENDER SYSTEM</h1>

<span style="color: blue; font-weight: bold;">1-İŞ PROBLEMİ</span>

ID'si verilen kullanıcı için item-based ve user-based recommender
yöntemlerini kullanarak 10 film önerisi yapınız.

<span style="color: blue; font-weight: bold;">2-VERİ SETİ HİKAYESİ</span>

Veri seti, bir film tavsiye hizmeti olan MovieLens tarafından sağlanmıştır. İçerisinde filmler ile birlikte bu filmlere yapılan
derecelendirme puanlarını barındırmaktadır. 27.278 filmde 2.000.0263 derecelendirme içermektedir. Bu veri seti ise 17 Ekim 2016
tarihinde oluşturulmuştur. 138.493 kullanıcı ve 09 Ocak 1995 ile 31 Mart 2015 tarihleri arasında verileri içermektedir. Kullanıcılar
rastgele seçilmiştir. Seçilen tüm kullanıcıların en az 20 filme oy verdiği bilgisi mevcuttur.

**movie.csv:**

movieId= Eşsiz film numarası.

title= Film adı

genres= Tür


**rating.csv**
userid= Eşsiz kullanıcı numarası. (UniqueID)

movieId=Eşsiz film numarası. (UniqueID)

rating=Kullanıcı tarafından filme verilen puan

timestamp=Değerlendirme tarihi

<h2 style="text-align: center; color: RED">PROJE GÖREVLERİ
</h2>

<h3 style="text-align: center; color: RED">1-User Based Recommendation
</h3>

In [13]:
import pandas as pd

<span style="color: blue; font-weight: bold;">GÖREV-1: Veriyi Hazırlama</span>

**Adım 1**: movie, rating veri setlerini okutunuz.

In [15]:
movie_df = pd.read_csv("C:\\Users\\ASLI\\Desktop\\Data Scientist Bootcamp\\5. Recommendation Systems\\datasets\\hybrid\\movie.csv")

In [17]:
movie_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [19]:
rating_df = pd.read_csv("C:\\Users\\ASLI\\Desktop\\Data Scientist Bootcamp\\5. Recommendation Systems\\datasets\\hybrid\\rating.csv")

In [20]:
rating_df.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

**Adım 2:** rating veri setine Id’lere ait film isimlerini ve türünü movie veri setinden ekleyiniz.

In [24]:
df = pd.merge(rating_df, movie_df ,on = 'movieId', how = 'left')

In [26]:
df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,2005-04-02 23:53:47,Jumanji (1995),Adventure|Children|Fantasy
1,1,29,3.5,2005-04-02 23:31:16,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
2,1,32,3.5,2005-04-02 23:33:39,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,1,47,3.5,2005-04-02 23:32:07,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,3.5,2005-04-02 23:29:40,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [30]:
df.shape

(20000263, 6)

In [32]:
#Veri boyutu büyük oldugu için belli  sayıda veri secicez

df = df[:300000]

In [36]:
df.shape

(300000, 6)

**Adım3:** Toplam oy kullanılma sayısı 1000'in altında olan filmlerin isimlerini listede tutunuz ve veri setinden çıkartınız.

In [51]:
df['movieId'].value_counts

<bound method IndexOpsMixin.value_counts of 0            2
1           29
2           32
3           47
4           50
          ...
299995    1127
299996    1196
299997    1210
299998    1375
299999    1376
Name: movieId, Length: 300000, dtype: int64>