<h1 style="text-align: center; color: RED">ENCODİNG</h1>

Encode etmek değişkenlerin temsil şekillerinin değiştirilmesi demektir.

<span style="color: blue; font-weight: bold;">1-LABEL ENCODİNG</span>

Label, etiket demektir. Yani kategorik değişkenlerdeki sınıflara label(etiket) deriz.Label Encoding, kategorik (metinsel) değişkenlerin, makine öğrenmesi algoritmaları tarafından kullanılabilmesi için sayısal değerlere dönüştürülmesidir. Makine öğrenmesi algoritmaları metinsel verilerle çalışamaz, bu yüzden sayıya çevrilmeleri gerekir.
![Test](datasets/6.png)

Ordinal olan(sıralı, sınıflar arasında fark olan) kategorik değişkenlerin encode edilmesi:
![Test](datasets/7.png)

Aşağıdaki tabloda verilen değişkenlerin label encodingten geçirilmesi yanlış olacaktır. Çünkü takımlar sıralı yani ordinal değişken değildir. Bu sebeple label encoding yapılması dogru değildir.
![Test](datasets/8.png)

<span style="color: blue; font-weight: bold;">LABEL ENCODİNG & BINARY ENCODING UYGULAMA</span>

Eğer kategorik değişkende iki sınıf varsa buna bınary encodingde diyebiliriz. 2 den fazla sınıf varsa bu da label encodingdir.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import missingno as msno #eksik değerler için kullanılan bir kütüphane
from datetime import date
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import LocalOutlierFactor
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, StandardScaler, RobustScaler

#Görsel ayaralama için
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.width', 500)

In [2]:
def load_application_train():
    data = pd.read_csv("C:\\Users\\ASLI\\Desktop\\Data Scientist Bootcamp\\6.Feature Engineering\\datasets\\application_train.csv")
    return data

In [5]:
def load():
    data = pd.read_csv("C:\\Users\\ASLI\\Desktop\\Data Scientist Bootcamp\\6.Feature Engineering\\datasets\\titanic.csv")
    return data

In [7]:
df = load()
df.head()

   PassengerId  Survived  Pclass                                               Name     Sex    Age  SibSp  Parch            Ticket   Fare Cabin Embarked
0            1         0       3                            Braund, Mr. Owen Harris    male 22.000      1      0         A/5 21171  7.250   NaN        S
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female 38.000      1      0          PC 17599 71.283   C85        C
2            3         1       3                             Heikkinen, Miss. Laina  female 26.000      0      0  STON/O2. 3101282  7.925   NaN        S
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female 35.000      1      0            113803 53.100  C123        S
4            5         0       3                           Allen, Mr. William Henry    male 35.000      0      0            373450  8.050   NaN        S

In [26]:
#Bir değişkene label encoding uygulayalım
df['Sex'].head()

0      male
1    female
2    female
3    female
4      male
Name: Sex, dtype: object

In [28]:
le = LabelEncoder()

In [30]:
le.fit_transform(df['Sex'])[0:5]

array([1, 0, 0, 0, 1])

* Encode işlemi yaparken alfabetik sıraya göre ilk gördüğü değere 0 diğere değere 1 verir.

In [33]:
le.inverse_transform([0,1])# dönüştürdükleri değerin karşılığını öğrenmek için

array(['female', 'male'], dtype=object)

In [9]:
#Fonksiyonlaştırma
def label_encoder(dataframe, binary_col):
    labelencoder = LabelEncoder()
    dataframe[col] = labelencoder.fit_transform(dataframe[col])
    return dataframe

In [36]:
def grab_col_names(dataframe, cat_th=10, car_th=20):#parametrelerin ön tanımlı değerlerini burda belirttik

    cat_cols = [col for col in dataframe.columns if str(dataframe[col].dtypes) in ['object', 'category', 'bool']]
    num_but_cat = [col for col in dataframe.columns if dataframe[col].dtypes in ['int64', 'float64'] and dataframe[col].nunique() < cat_th]
    cat_but_car = [col for col in dataframe.columns if str(dataframe[col].dtypes) in ['object', 'category'] and dataframe[col].nunique() > car_th]
    cat_cols = cat_cols + num_but_cat
    cat_cols = [col for col in cat_cols if col not in cat_but_car] 

    num_cols = [col for col in dataframe.columns if dataframe[col].dtypes  in ['int64', 'float64']] #bu sayısal değişkenleri verir
    num_cols = [col for col in num_cols if col not in cat_cols] 

    print(f'Observetions: {dataframe.shape[0]}')
    print(f'Variables: {dataframe.shape[1]}')
    print(f'cat_cols: {len(cat_cols)}')
    print(f'num_cols: {len(num_cols)}')
    print(f'cat_but_car: {len(cat_but_car)}')
    print(f'num_but_cat: {len(num_but_cat)}')

    return cat_cols, num_cols, cat_but_car

In [43]:
cat_cols, num_cols, cat_but_car = grab_col_names(df)

Observetions: 891
Variables: 12
cat_cols: 6
num_cols: 3
cat_but_car: 3
num_but_cat: 4

In [45]:
cat_cols

['Sex', 'Embarked', 'Survived', 'Pclass', 'SibSp', 'Parch']

In [63]:
binary_col = [col for col in cat_cols if df[col].nunique() ==2 and df[col].dtype=='O'] # 2 sınıfı olan ve sayısal olarak ifade edilmeyen kategorik değişkenleri seçtik

In [61]:
binary_col

['Sex']

In [13]:
#Başka bir veri seti üzerinde inceliyoruz
dff = load_application_train()

In [15]:
cat_cols, num_cols, cat_but_car = grab_col_names(dff)

Observetions: 307511
Variables: 122
cat_cols: 54
num_cols: 67
cat_but_car: 1
num_but_cat: 39

In [17]:
binary_col = [col for col in cat_cols if dff[col].nunique() ==2 and dff[col].dtype=='O'] # 2 sınıfı olan ve sayısal olarak ifade edilmeyen kategorik değişkenleri seçtik

In [75]:
binary_col

['NAME_CONTRACT_TYPE',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'EMERGENCYSTATE_MODE']

In [ ]:
dff[binary_col]

In [77]:
for col in binary_col:
    label_encoder(dff, col)

In [ ]:
dff.head()

<span style="color: blue; font-weight: bold;">2-ONEHOT ENCODİNG</span>

One-Hot Encoding, makine öğrenmesi modellerinde kategorik (sınıflandırılmış) verilerin sayısal olarak ifade edilmesini sağlayan etkili bir yöntemdir. Bu yöntem, bir kategorik değişkendeki her bir benzersiz değeri (etiketi) ayrı bir sütuna dönüştürür ve bu sütunlarda sadece 0 ve 1 değerleri yer alır. Bir gözlem, ait olduğu kategoriye karşılık gelen sütunda “1”, diğer tüm sütunlarda ise “0” olarak temsil edilir. Örneğin, “renk” adında ve içinde `kırmızı`, `mavi`, `yeşil` gibi değerler olan bir değişken düşünelim. One-Hot Encoding uygulandığında, bu üç renk için üç ayrı sütun oluşur ve her gözlemde yalnızca ait olduğu rengin sütununda 1 olur. Böylece model, kategorilerin birbirine üstünlük ya da büyüklük ilişkisi olmadığını doğru bir şekilde algılar.

Dummy tuzağı (dummy variable trap), One-Hot Encoding gibi yöntemlerle oluşturulan kategorik değişkenlerin yanlış şekilde kullanılması sonucu oluşan çoklu doğrusal bağlantı (multicollinearity) problemidir. Bu, bazı değişkenlerin birbirine tamamen bağımlı hâle gelmesiyle oluşur ve özellikle doğrusal modellerde (Linear Regression, Logistic Regression gibi) modelin yanlış öğrenmesine neden olabilir.One-Hot Encoding sonrası, her kategorinin bir sütunu yerine (k - 1) adet sütun bırakılır. Yani örneğimizde 3 kategori varsa, 2 sütun kalır, biri referans (baseline) olarak alınır.
![Test](datasets/9.png)

<span style="color: blue; font-weight: bold;">2-ONEHOT ENCODİNG UYGULAMA</span>

In [16]:
df = load()

In [20]:
df['Embarked'].value_counts()#3 tane sınıf var ve sınıflar arasında fark yok yani nominal sınıflar

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

* Yukarıdaki kategorik değişken label encoding yöntemiyle dönüştürüldüğünde, sınıflara 1, 2, 3 gibi ardışık sayısal değerler atanır. Ancak bu dönüşüm, aslında kendi aralarında herhangi bir sıralı veya nicel ilişki bulunmayan sınıflar arasında yapay bir büyüklük veya hiyerarşi algısı yaratır. Bu durum da modelin yanlış öğrenmesine neden olabilir.

In [24]:
pd.get_dummies(df, columns = ['Embarked'], drop_first=True).head()

   PassengerId  Survived  Pclass                                               Name     Sex    Age  SibSp  Parch            Ticket   Fare Cabin  Embarked_Q  Embarked_S
0            1         0       3                            Braund, Mr. Owen Harris    male 22.000      1      0         A/5 21171  7.250   NaN       False        True
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female 38.000      1      0          PC 17599 71.283   C85       False       False
2            3         1       3                             Heikkinen, Miss. Laina  female 26.000      0      0  STON/O2. 3101282  7.925   NaN       False        True
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female 35.000      1      0            113803 53.100  C123       False        True
4            5         0       3                           Allen, Mr. William Henry    male 35.000      0      0            373450  8.050   NaN       False        True

* drop_first=True parametresi, dummy değişken tuzağını (dummy variable trap) önlemek için kullanılır. Bu parametre:

Oluşturulan ilk kategorik sütunu otomatik olarak siler.

Yani toplam n kategori varsa, sadece n-1 tane dummy sütun bırakır.

Bu, modellerde çoklu doğrusal bağlantı (multicollinearity) oluşmasını önler.

In [ ]:
pd.get_dummies(df, columns = ['Embarked'], dummy_na=True).head()#eksik değerlerde bir sınıf olarak gelsin istersek

* Not : binary olanları da one hot encoding ile yapabiliriz.drop_first=True parametresini kullanmamız yeterli olacaktır.

In [28]:
#Fonksiyonlaştırma

def one_hot_encoder(dataframe, cat_col, drop_first=True):
    dataframe = pd.get_dummies(dataframe,columns = cat_col, drop_first = drop_first)
    return dataframe

In [30]:
df = load()

In [38]:
cat_cols, num_col,cat_but_car = grab_col_names(df)

Observetions: 891
Variables: 12
cat_cols: 6
num_cols: 3
cat_but_car: 3
num_but_cat: 4

In [40]:
cat_cols

['Sex', 'Embarked', 'Survived', 'Pclass', 'SibSp', 'Parch']

In [42]:
ohe_cols = [col for col in df.columns if 10>= df[col].nunique()>2]

In [44]:
ohe_cols

['Pclass', 'SibSp', 'Parch', 'Embarked']

In [46]:
one_hot_encoder(df, ohe_cols)

     PassengerId  Survived                                               Name     Sex    Age              Ticket    Fare            Cabin  Pclass_2  Pclass_3  SibSp_1  SibSp_2  SibSp_3  SibSp_4  SibSp_5  SibSp_8  Parch_1  Parch_2  Parch_3  Parch_4  Parch_5  Parch_6  Embarked_Q  Embarked_S
0              1         0                            Braund, Mr. Owen Harris    male 22.000           A/5 21171   7.250              NaN     False      True     True    False    False    False    False    False    False    False    False    False    False    False       False        True
1              2         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female 38.000            PC 17599  71.283              C85     False     False     True    False    False    False    False    False    False    False    False    False    False    False       False       False
2              3         1                             Heikkinen, Miss. Laina  female 26.000    STON/O2. 3101282   7.925              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False       False        True
3              4         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female 35.000              113803  53.100             C123     False     False     True    False    False    False    False    False    False    False    False    False    False    False       False        True
4              5         0                           Allen, Mr. William Henry    male 35.000              373450   8.050              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False       False        True
5              6         0                                   Moran, Mr. James    male    NaN              330877   8.458              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False        True       False
6              7         0                            McCarthy, Mr. Timothy J    male 54.000               17463  51.862              E46     False     False    False    False    False    False    False    False    False    False    False    False    False    False       False        True
7              8         0                     Palsson, Master. Gosta Leonard    male  2.000              349909  21.075              NaN     False      True    False    False     True    False    False    False     True    False    False    False    False    False       False        True
8              9         1  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female 27.000              347742  11.133              NaN     False      True    False    False    False    False    False    False    False     True    False    False    False    False       False        True
9             10         1                Nasser, Mrs. Nicholas (Adele Achem)  female 14.000              237736  30.071              NaN      True     False     True    False    False    False    False    False    False    False    False    False    False    False       False       False
10            11         1                    Sandstrom, Miss. Marguerite Rut  female  4.000             PP 9549  16.700               G6     False      True     True    False    False    False    False    False     True    False    False    False    False    False       False        True
11            12         1                           Bonnell, Miss. Elizabeth  female 58.000              113783  26.550             C103     False     False    False    False    False    False    False    False    False    False    False    False    False    False       False        True
12            13         0                     Saundercock, Mr. William Henry    male 20.000           A/5. 2151   8.050              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False       False        True
13            14         0                        Andersson, Mr. Anders Johan    male 39.000              347082  31.275              NaN     False      True     True    False    False    False    False    False    False    False    False    False     True    False       False        True
14            15         0               Vestrom, Miss. Hulda Amanda Adolfina  female 14.000              350406   7.854              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False       False        True
15            16         1                   Hewlett, Mrs. (Mary D Kingcome)   female 55.000              248706  16.000              NaN      True     False    False    False    False    False    False    False    False    False    False    False    False    False       False        True
16            17         0                               Rice, Master. Eugene    male  2.000              382652  29.125              NaN     False      True    False    False    False     True    False    False     True    False    False    False    False    False        True       False
17            18         1                       Williams, Mr. Charles Eugene    male    NaN              244373  13.000              NaN      True     False    False    False    False    False    False    False    False    False    False    False    False    False       False        True
18            19         0  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female 31.000              345763  18.000              NaN     False      True     True    False    False    False    False    False    False    False    False    False    False    False       False        True
19            20         1                            Masselmani, Mrs. Fatima  female    NaN                2649   7.225              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False       False       False
20            21         0                               Fynney, Mr. Joseph J    male 35.000              239865  26.000              NaN      True     False    False    False    False    False    False    False    False    False    False    False    False    False       False        True
21            22         1                              Beesley, Mr. Lawrence    male 34.000              248698  13.000              D56      True     False    False    False    False    False    False    False    False    False    False    False    False    False       False        True
22            23         1                        McGowan, Miss. Anna "Annie"  female 15.000              330923   8.029              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False        True       False
23            24         1                       Sloper, Mr. William Thompson    male 28.000              113788  35.500               A6     False     False    False    False    False    False    False    False    False    False    False    False    False    False       False        True
24            25         0                      Palsson, Miss. Torborg Danira  female  8.000              349909  21.075              NaN     False      True    False    False     True    False    False    False     True    False    False    False    False    False       False        True
25            26         1  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female 38.000              347077  31.387              NaN     False      True     True    False    False    False    False    False    False    False    False    False     True    False       False        True
26            27         0                            Emir, Mr. Farred Chehab    male    NaN                2631   7.225              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False       False       False
27            28         0                     Fortune, Mr. Charles Alexander    male 19.000               19950 263.000      C23 C25 C27     False     False    False    False     True    False    False    False    False     True    False    False    False    False       False        True
28            29         1                      O'Dwyer, Miss. Ellen "Nellie"  female    NaN              330959   7.879              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False        True       False
29            30         0                                Todoroff, Mr. Lalio    male    NaN              349216   7.896              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False       False        True
30            31         0                           Uruchurtu, Don. Manuel E    male 40.000            PC 17601  27.721              NaN     False     False    False    False    False    False    False    False    False    False    False    False    False    False       False       False
31            32         1     Spencer, Mrs. William Augustus (Marie Eugenie)  female    NaN            PC 17569 146.521              B78     False     False     True    False    False    False    False    False    False    False    False    False    False    False       False       False
32            33         1                           Glynn, Miss. Mary Agatha  female    NaN              335677   7.750              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False        True       False
33            34         0                              Wheadon, Mr. Edward H    male 66.000          C.A. 24579  10.500              NaN      True     False    False    False    False    False    False    False    False    False    False    False    False    False       False        True
34            35         0                            Meyer, Mr. Edgar Joseph    male 28.000            PC 17604  82.171              NaN     False     False     True    False    False    False    False    False    False    False    False    False    False    False       False       False
35            36         0                     Holverson, Mr. Alexander Oskar    male 42.000              113789  52.000              NaN     False     False     True    False    False    False    False    False    False    False    False    False    False    False       False        True
36            37         1                                   Mamee, Mr. Hanna    male    NaN                2677   7.229              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False       False       False
37            38         0                           Cann, Mr. Ernest Charles    male 21.000          A./5. 2152   8.050              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False       False        True
38            39         0                 Vander Planke, Miss. Augusta Maria  female 18.000              345764  18.000              NaN     False      True    False     True    False    False    False    False    False    False    False    False    False    False       False        True
39            40         1                        Nicola-Yarred, Miss. Jamila  female 14.000                2651  11.242              NaN     False      True     True    False    False    False    False    False    False    False    False    False    False    False       False       False
40            41         0     Ahlin, Mrs. Johan (Johanna Persdotter Larsson)  female 40.000                7546   9.475              NaN     False      True     True    False    False    False    False    False    False    False    False    False    False    False       False        True
41            42         0  Turpin, Mrs. William John Robert (Dorothy Ann ...  female 27.000               11668  21.000              NaN      True     False     True    False    False    False    False    False    False    False    False    False    False    False       False        True
42            43         0                                Kraeff, Mr. Theodor    male    NaN              349253   7.896              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False       False       False
43            44         1           Laroche, Miss. Simonne Marie Anne Andree  female  3.000       SC/Paris 2123  41.579              NaN      True     False     True    False    False    False    False    False    False     True    False    False    False    False       False       False
44            45         1                      Devaney, Miss. Margaret Delia  female 19.000              330958   7.879              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False        True       False
45            46         0                           Rogers, Mr. William John    male    NaN     S.C./A.4. 23567   8.050              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False       False        True
46            47         0                                  Lennon, Mr. Denis    male    NaN              370371  15.500              NaN     False      True     True    False    False    False    False    False    False    False    False    False    False    False        True       False
47            48         1                          O'Driscoll, Miss. Bridget  female    NaN               14311   7.750              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False        True       False
48            49         0                                Samaan, Mr. Youssef    male    NaN                2662  21.679              NaN     False      True    False     True    False    False    False    False    False    False    False    False    False    False       False       False
49            50         0      Arnold-Franchi, Mrs. Josef (Josefine Franchi)  female 18.000              349237  17.800              NaN     False      True     True    False    False    False    False    False    False    False    False    False    False    False       False        True
50            51         0                         Panula, Master. Juha Niilo    male  7.000             3101295  39.688              NaN     False      True    False    False    False     True    False    False     True    False    False    False    False    False       False        True
51            52         0                       Nosworthy, Mr. Richard Cater    male 21.000          A/4. 39886   7.800              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False       False        True
52            53         1           Harper, Mrs. Henry Sleeper (Myna Haxtun)  female 49.000            PC 17572  76.729              D33     False     False     True    False    False    False    False    False    False    False    False    False    False    False       False       False
53            54         1  Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...  female 29.000                2926  26.000              NaN      True     False     True    False    False    False    False    False    False    False    False    False    False    False       False        True
54            55         0                     Ostby, Mr. Engelhart Cornelius    male 65.000              113509  61.979              B30     False     False    False    False    False    False    False    False     True    False    False    False    False    False       False       False
55            56         1                                  Woolner, Mr. Hugh    male    NaN               19947  35.500              C52     False     False    False    False    False    False    False    False    False    False    False    False    False    False       False        True
56            57         1                                  Rugg, Miss. Emily  female 21.000          C.A. 31026  10.500              NaN      True     False    False    False    False    False    False    False    False    False    False    False    False    False       False        True
57            58         0                                Novel, Mr. Mansouer    male 28.500                2697   7.229              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False       False       False
58            59         1                       West, Miss. Constance Mirium  female  5.000          C.A. 34651  27.750              NaN      True     False     True    False    False    False    False    False    False     True    False    False    False    False       False        True
59            60         0                 Goodwin, Master. William Frederick    male 11.000             CA 2144  46.900              NaN     False      True    False    False    False    False     True    False    False     True    False    False    False    False       False        True
60            61         0                              Sirayanian, Mr. Orsen    male 22.000                2669   7.229              NaN     False      True    False    False    False    False    False    False    False    False    False    False    False    False       False       False
61            62         1                                Icard, Miss. Amelie  female 38.000              113572  80.000              B28     False     False    False    False    False    False    False    False    False    False    False    False    False    False       False       False
62            63         0                        Harris, Mr. Henry Birkhardt    male 45.000               36973  83.475              C83     False     False     True    False    False    False    False    False    False    False    False    False    False    False       False        True
63            64         0                              Skoog, Master. Harald    male  4.000              347088  27.900              NaN     False      True    False    False     True    False    False    False    False     True    False    False    False    False       False        True
64            65         0                              Stewart, Mr. Albert A    male    NaN            PC 17605  27.721              NaN     False     False    False    False    False    False    False    False    False    False    False    False    False    False       False       False
65            66         1                           Moubarek, Master. Gerios    male    NaN                2661  15.246              NaN     False      True     True    False    False    False    False    False     True    False    False    False    False    False       False       False
66            67         1                       Nye, Mrs. (Elizabeth Ramell)  female 29.000          C.A. 29395  10.500              F33      True     False    False    False    False    False    False    False    False    False    False    False    False    False       False        True

<span style="color: blue; font-weight: bold;">3-RARE ENCODİNG</span>

Rare encoding (veya rare category encoding) kategorik değişkenlerde çok nadir görülen kategorileri tespit edip bunları tek bir ortak kategori altında toplama işlemidir. Amaç, veri setindeki seyrek (rare) kategorilerin modele olumsuz etkisini azaltmaktır.Kategorik değişken çok fazla kategoriye sahipse ve bunların bazıları çok nadir ise rare encoding tercih edilir.

Neden Yapılır?

Kategorik değişkenlerde bazı sınıflar çok az sayıda gözleme sahip olabilir. Bu durum:

Aşırı öğrenme (overfitting) riskini artırır → Model, nadir kategoriye ait birkaç örneği ezberler.

Genelleme yeteneğini düşürür → Test verisinde o kategori hiç çıkmayabilir, model zorlanır.

İstatistiksel anlamlılığı azaltır → Regresyon gibi modellerde katsayı tahminleri güvenilmez hale gelir.

Veri dengesizliğine yol açar → Özellikle sınıflandırma problemlerinde hatalı tahminler artabilir.

Nasıl Yapılır?

Eşik belirlenir (ör. %1’den az görünen kategoriler nadir sayılabilir).

Bu nadir kategoriler tek bir isim altında toplanır, genellikle "Rare" veya "Other" olarak adlandırılır.
![Test](datasets/10.png)

<span style="color: blue; font-weight: bold;">3-RARE ENCODİNG UYGULAMA</span>

Bu bölümü üç adımda gercekleştiricez:

 1. Kategorik değişkenlerin azlık çokluk durumunun analiz edilmesi.
 2. Rare kategoriler ile bağımlı değişken arasındaki ilişkinin analiz edilmesi.
 3. Rare encoder yazacağız.

In [56]:
#1. adım Kategorik değişkenlerin azlık çokluk durumunun analiz edilmesi.

df = load_application_train()

In [58]:
df['NAME_EDUCATION_TYPE'].value_counts() #sınıflar ve frkanslarını görnek için yaptım

NAME_EDUCATION_TYPE
Secondary / secondary special    218391
Higher education                  74863
Incomplete higher                 10277
Lower secondary                    3816
Academic degree                     164
Name: count, dtype: int64

In [60]:
cat_cols, num_cols, cat_but_car = grab_col_names(df)

Observetions: 307511
Variables: 122
cat_cols: 54
num_cols: 67
cat_but_car: 1
num_but_cat: 39

In [62]:
cat_cols#kategorik değişkneleri yakaladım

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'OCCUPATION_TYPE',
 'WEEKDAY_APPR_PROCESS_START',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'TARGET',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK']

In [64]:
#Kategorik değişkenler ve sınıf oranları
def cat_summary(dataframe, col_name, plot=False):
    print(pd.DataFrame({col_name: dataframe[col_name].value_counts(),
                        "Ratio": 100 * dataframe[col_name].value_counts() / len(dataframe)}))
    print("##########################################")
    if plot:
        sns.countplot(x=dataframe[col_name], data=dataframe)
        plt.show()

In [66]:
for col in cat_cols:
    cat_summary(df, col)

                    NAME_CONTRACT_TYPE  Ratio
NAME_CONTRACT_TYPE
Cash loans                      278232 90.479
Revolving loans                  29279  9.521
##########################################
             CODE_GENDER  Ratio
CODE_GENDER
F                 202448 65.834
M                 105059 34.164
XNA                    4  0.001
##########################################
              FLAG_OWN_CAR  Ratio
FLAG_OWN_CAR
N                   202924 65.989
Y                   104587 34.011
##########################################
                 FLAG_OWN_REALTY  Ratio
FLAG_OWN_REALTY
Y                         213312 69.367
N                          94199 30.633
##########################################
                 NAME_TYPE_SUITE  Ratio
NAME_TYPE_SUITE
Unaccompanied             248526 80.819
Family                     40149 13.056
Spouse, partner            11370  3.697
Children                    3267  1.062
Other_B                     1770  0.576
Other_A                      866  0.282
Group of people              271  0.088
##########################################
                      NAME_INCOME_TYPE  Ratio
NAME_INCOME_TYPE
Working                         158774 51.632
Commercial associate             71617 23.289
Pensioner                        55362 18.003
State servant                    21703  7.058
Unemployed                          22  0.007
Student                             18  0.006
Businessman                         10  0.003
Maternity leave                      5  0.002
##########################################
                               NAME_EDUCATION_TYPE  Ratio
NAME_EDUCATION_TYPE
Secondary / secondary special               218391 71.019
Higher education                             74863 24.345
Incomplete higher                            10277  3.342
Lower secondary                               3816  1.241
Academic degree                                164  0.053
##########################################
                      NAME_FAMILY_STATUS  Ratio
NAME_FAMILY_STATUS
Married                           196432 63.878
Single / not married               45444 14.778
Civil marriage                     29775  9.683
Separated                          19770  6.429
Widow                              16088  5.232
Unknown                                2  0.001
##########################################
                     NAME_HOUSING_TYPE  Ratio
NAME_HOUSING_TYPE
House / apartment               272868 88.734
With parents                     14840  4.826
Municipal apartment              11183  3.637
Rented apartment                  4881  1.587
Office apartment                  2617  0.851
Co-op apartment                   1122  0.365
##########################################
                       OCCUPATION_TYPE  Ratio
OCCUPATION_TYPE
Laborers                         55186 17.946
Sales staff                      32102 10.439
Core staff                       27570  8.966
Managers                         21371  6.950
Drivers                          18603  6.050
High skill tech staff            11380  3.701
Accountants                       9813  3.191
Medicine staff                    8537  2.776
Security staff                    6721  2.186
Cooking staff                     5946  1.934
Cleaning staff                    4653  1.513
Private service staff             2652  0.862
Low-skill Laborers                2093  0.681
Waiters/barmen staff              1348  0.438
Secretaries                       1305  0.424
Realty agents                      751  0.244
HR staff                           563  0.183
IT staff                           526  0.171
##########################################
                            WEEKDAY_APPR_PROCESS_START  Ratio
WEEKDAY_APPR_PROCESS_START
TUESDAY                                          53901 17.528
WEDNESDAY                                        51934 16.889
MONDAY                                           50714 16.492
THURSDAY                                         50591 16.452
FRIDAY                                           50338 16.369
SATURDAY                                         33852 11.008
SUNDAY                                           16181  5.262
##########################################
                       FONDKAPREMONT_MODE  Ratio
FONDKAPREMONT_MODE
reg oper account                    73830 24.009
reg oper spec account               12080  3.928
not specified                        5687  1.849
org spec account                     5619  1.827
##########################################
                  HOUSETYPE_MODE  Ratio
HOUSETYPE_MODE
block of flats            150503 48.942
specific housing            1499  0.487
terraced house              1212  0.394
##########################################
                    WALLSMATERIAL_MODE  Ratio
WALLSMATERIAL_MODE
Panel                            66040 21.476
Stone, brick                     64815 21.077
Block                             9253  3.009
Wooden                            5362  1.744
Mixed                             2296  0.747
Monolithic                        1779  0.579
Others                            1625  0.528
##########################################
                     EMERGENCYSTATE_MODE  Ratio
EMERGENCYSTATE_MODE
No                                159428 51.845
Yes                                 2328  0.757
##########################################
        TARGET  Ratio
TARGET
0       282686 91.927
1        24825  8.073
##########################################
            FLAG_MOBIL   Ratio
FLAG_MOBIL
1               307510 100.000
0                    1   0.000
##########################################
                FLAG_EMP_PHONE  Ratio
FLAG_EMP_PHONE
1                       252125 81.989
0                        55386 18.011
##########################################
                 FLAG_WORK_PHONE  Ratio
FLAG_WORK_PHONE
0                         246203 80.063
1                          61308 19.937
##########################################
                  FLAG_CONT_MOBILE  Ratio
FLAG_CONT_MOBILE
1                           306937 99.813
0                              574  0.187
##########################################
            FLAG_PHONE  Ratio
FLAG_PHONE
0               221080 71.893
1                86431 28.107
##########################################
            FLAG_EMAIL  Ratio
FLAG_EMAIL
0               290069 94.328
1                17442  5.672
##########################################
                      REGION_RATING_CLIENT  Ratio
REGION_RATING_CLIENT
2                                   226984 73.813
3                                    48330 15.717
1                                    32197 10.470
##########################################
                             REGION_RATING_CLIENT_W_CITY  Ratio
REGION_RATING_CLIENT_W_CITY
2                                                 229484 74.626
3                                                  43860 14.263
1                                                  34167 11.111
##########################################
                            REG_REGION_NOT_LIVE_REGION  Ratio
REG_REGION_NOT_LIVE_REGION
0                                               302854 98.486
1                                                 4657  1.514
##########################################
                            REG_REGION_NOT_WORK_REGION  Ratio
REG_REGION_NOT_WORK_REGION
0                                               291899 94.923
1                                                15612  5.077
##########################################
                             LIVE_REGION_NOT_WORK_REGION  Ratio
LIVE_REGION_NOT_WORK_REGION
0                                                 295008 95.934
1                                                  12503  4.066
##########################################
                        REG_CITY_NOT_LIVE_CITY  Ratio
REG_CITY_NOT_LIVE_CITY
0                                       283472 92.183
1                                        24039  7.817
##########################################
                        REG_CITY_NOT_WORK_CITY  Ratio
REG_CITY_NOT_WORK_CITY
0                                       236644 76.955
1                                        70867 23.045
##########################################
                         LIVE_CITY_NOT_WORK_CITY  Ratio
LIVE_CITY_NOT_WORK_CITY
0                                         252296 82.045
1                                          55215 17.955
##########################################
                          DEF_60_CNT_SOCIAL_CIRCLE  Ratio
DEF_60_CNT_SOCIAL_CIRCLE
0.000                                       280721 91.288
1.000                                        21841  7.103
2.000                                         3170  1.031
3.000                                          598  0.194
4.000                                          135  0.044
5.000                                           20  0.007
6.000                                            3  0.001
7.000                                            1  0.000
24.000                                           1  0.000
##########################################
                 FLAG_DOCUMENT_2  Ratio
FLAG_DOCUMENT_2
0                         307498 99.996
1                             13  0.004
##########################################
                 FLAG_DOCUMENT_3  Ratio
FLAG_DOCUMENT_3
1                         218340 71.002
0                          89171 28.998
##########################################
                 FLAG_DOCUMENT_4  Ratio
FLAG_DOCUMENT_4
0                         307486 99.992
1                             25  0.008
##########################################
                 FLAG_DOCUMENT_5  Ratio
FLAG_DOCUMENT_5
0                         302863 98.489
1                           4648  1.511
##########################################
                 FLAG_DOCUMENT_6  Ratio
FLAG_DOCUMENT_6
0                         280433 91.194
1                          27078  8.806
##########################################
                 FLAG_DOCUMENT_7  Ratio
FLAG_DOCUMENT_7
0                         307452 99.981
1                             59  0.019
##########################################
                 FLAG_DOCUMENT_8  Ratio
FLAG_DOCUMENT_8
0                         282487 91.862
1                          25024  8.138
##########################################
                 FLAG_DOCUMENT_9  Ratio
FLAG_DOCUMENT_9
0                         306313 99.610
1                           1198  0.390
##########################################
                  FLAG_DOCUMENT_10  Ratio
FLAG_DOCUMENT_10
0                           307504 99.998
1                                7  0.002
##########################################
                  FLAG_DOCUMENT_11  Ratio
FLAG_DOCUMENT_11
0                           306308 99.609
1                             1203  0.391
##########################################
                  FLAG_DOCUMENT_12  Ratio
FLAG_DOCUMENT_12
0                           307509 99.999
1                                2  0.001
##########################################
                  FLAG_DOCUMENT_13  Ratio
FLAG_DOCUMENT_13
0                           306427 99.647
1                             1084  0.353
##########################################
                  FLAG_DOCUMENT_14  Ratio
FLAG_DOCUMENT_14
0                           306608 99.706
1                              903  0.294
##########################################
                  FLAG_DOCUMENT_15  Ratio
FLAG_DOCUMENT_15
0                           307139 99.879
1                              372  0.121
##########################################
                  FLAG_DOCUMENT_16  Ratio
FLAG_DOCUMENT_16
0                           304458 99.007
1                             3053  0.993
##########################################
                  FLAG_DOCUMENT_17  Ratio
FLAG_DOCUMENT_17
0                           307429 99.973
1                               82  0.027
##########################################
                  FLAG_DOCUMENT_18  Ratio
FLAG_DOCUMENT_18
0                           305011 99.187
1                             2500  0.813
##########################################
                  FLAG_DOCUMENT_19  Ratio
FLAG_DOCUMENT_19
0                           307328 99.940
1                              183  0.060
##########################################
                  FLAG_DOCUMENT_20  Ratio
FLAG_DOCUMENT_20
0                           307355 99.949
1                              156  0.051
##########################################
                  FLAG_DOCUMENT_21  Ratio
FLAG_DOCUMENT_21
0                           307408 99.967
1                              103  0.033
##########################################
                            AMT_REQ_CREDIT_BUREAU_HOUR  Ratio
AMT_REQ_CREDIT_BUREAU_HOUR
0.000                                           264366 85.970
1.000                                             1560  0.507
2.000                                               56  0.018
3.000                                                9  0.003
4.000                                                1  0.000
##########################################
                           AMT_REQ_CREDIT_BUREAU_DAY  Ratio
AMT_REQ_CREDIT_BUREAU_DAY
0.000                                         264503 86.014
1.000                                           1292  0.420
2.000                                            106  0.034
3.000                                             45  0.015
4.000                                             26  0.008
5.000                                              9  0.003
6.000                                              8  0.003
9.000                                              2  0.001
8.000                                              1  0.000
##########################################
                            AMT_REQ_CREDIT_BUREAU_WEEK  Ratio
AMT_REQ_CREDIT_BUREAU_WEEK
0.000                                           257456 83.723
1.000                                             8208  2.669
2.000                                              199  0.065
3.000                                               58  0.019
4.000                                               34  0.011
6.000                                               20  0.007
5.000                                               10  0.003
8.000                                                5  0.002
7.000                                                2  0.001
##########################################

* Çıktıyı gözlemlediğimizde bazı sınıfların oranları 0.001 yani çok düşük. Bunları one hot encoder dan gecirirsek gerekli gereksiz bir sürü değişken oluşur. Buda bize ölçüm problemi çıkarrır.Bu sayısı az olan sınıfların bizim için ayırt edici özellik taşımıyor olabilir.

In [71]:
# Rare kategoriler ile bağımlı değişken arasındaki ilişkinin analiz edilmesi.
def rare_analyser(dataframe, target, cat_cols):
    for col in cat_cols:
        print(col, ":", len(dataframe[col].value_counts()))
        print(pd.DataFrame({"COUNT": dataframe[col].value_counts(),
                            "RATIO": dataframe[col].value_counts() / len(dataframe),
                            "TARGET_MEAN": dataframe.groupby(col)[target].mean()}), end="\n\n\n")

In [73]:
rare_analyser(df, "TARGET", cat_cols)

NAME_CONTRACT_TYPE : 2
                     COUNT  RATIO  TARGET_MEAN
NAME_CONTRACT_TYPE
Cash loans          278232  0.905        0.083
Revolving loans      29279  0.095        0.055


CODE_GENDER : 3
              COUNT  RATIO  TARGET_MEAN
CODE_GENDER
F            202448  0.658        0.070
M            105059  0.342        0.101
XNA               4  0.000        0.000


FLAG_OWN_CAR : 2
               COUNT  RATIO  TARGET_MEAN
FLAG_OWN_CAR
N             202924  0.660        0.085
Y             104587  0.340        0.072


FLAG_OWN_REALTY : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_OWN_REALTY
N                 94199  0.306        0.083
Y                213312  0.694        0.080


NAME_TYPE_SUITE : 7
                  COUNT  RATIO  TARGET_MEAN
NAME_TYPE_SUITE
Children           3267  0.011        0.074
Family            40149  0.131        0.075
Group of people     271  0.001        0.085
Other_A             866  0.003        0.088
Other_B            1770  0.006        0.098
Spouse, partner   11370  0.037        0.079
Unaccompanied    248526  0.808        0.082


NAME_INCOME_TYPE : 8
                       COUNT  RATIO  TARGET_MEAN
NAME_INCOME_TYPE
Businessman               10  0.000        0.000
Commercial associate   71617  0.233        0.075
Maternity leave            5  0.000        0.400
Pensioner              55362  0.180        0.054
State servant          21703  0.071        0.058
Student                   18  0.000        0.000
Unemployed                22  0.000        0.364
Working               158774  0.516        0.096


NAME_EDUCATION_TYPE : 5
                                COUNT  RATIO  TARGET_MEAN
NAME_EDUCATION_TYPE
Academic degree                   164  0.001        0.018
Higher education                74863  0.243        0.054
Incomplete higher               10277  0.033        0.085
Lower secondary                  3816  0.012        0.109
Secondary / secondary special  218391  0.710        0.089


NAME_FAMILY_STATUS : 6
                       COUNT  RATIO  TARGET_MEAN
NAME_FAMILY_STATUS
Civil marriage         29775  0.097        0.099
Married               196432  0.639        0.076
Separated              19770  0.064        0.082
Single / not married   45444  0.148        0.098
Unknown                    2  0.000        0.000
Widow                  16088  0.052        0.058


NAME_HOUSING_TYPE : 6
                      COUNT  RATIO  TARGET_MEAN
NAME_HOUSING_TYPE
Co-op apartment        1122  0.004        0.079
House / apartment    272868  0.887        0.078
Municipal apartment   11183  0.036        0.085
Office apartment       2617  0.009        0.066
Rented apartment       4881  0.016        0.123
With parents          14840  0.048        0.117


OCCUPATION_TYPE : 18
                       COUNT  RATIO  TARGET_MEAN
OCCUPATION_TYPE
Accountants             9813  0.032        0.048
Cleaning staff          4653  0.015        0.096
Cooking staff           5946  0.019        0.104
Core staff             27570  0.090        0.063
Drivers                18603  0.060        0.113
HR staff                 563  0.002        0.064
High skill tech staff  11380  0.037        0.062
IT staff                 526  0.002        0.065
Laborers               55186  0.179        0.106
Low-skill Laborers      2093  0.007        0.172
Managers               21371  0.069        0.062
Medicine staff          8537  0.028        0.067
Private service staff   2652  0.009        0.066
Realty agents            751  0.002        0.079
Sales staff            32102  0.104        0.096
Secretaries             1305  0.004        0.070
Security staff          6721  0.022        0.107
Waiters/barmen staff    1348  0.004        0.113


WEEKDAY_APPR_PROCESS_START : 7
                            COUNT  RATIO  TARGET_MEAN
WEEKDAY_APPR_PROCESS_START
FRIDAY                      50338  0.164        0.081
MONDAY                      50714  0.165        0.078
SATURDAY                    33852  0.110        0.079
SUNDAY                      16181  0.053        0.079
THURSDAY                    50591  0.165        0.081
TUESDAY                     53901  0.175        0.084
WEDNESDAY                   51934  0.169        0.082


FONDKAPREMONT_MODE : 4
                       COUNT  RATIO  TARGET_MEAN
FONDKAPREMONT_MODE
not specified           5687  0.018        0.075
org spec account        5619  0.018        0.058
reg oper account       73830  0.240        0.070
reg oper spec account  12080  0.039        0.066


HOUSETYPE_MODE : 3
                   COUNT  RATIO  TARGET_MEAN
HOUSETYPE_MODE
block of flats    150503  0.489        0.069
specific housing    1499  0.005        0.101
terraced house      1212  0.004        0.085


WALLSMATERIAL_MODE : 7
                    COUNT  RATIO  TARGET_MEAN
WALLSMATERIAL_MODE
Block                9253  0.030        0.070
Mixed                2296  0.007        0.075
Monolithic           1779  0.006        0.047
Others               1625  0.005        0.083
Panel               66040  0.215        0.063
Stone, brick        64815  0.211        0.074
Wooden               5362  0.017        0.097


EMERGENCYSTATE_MODE : 2
                      COUNT  RATIO  TARGET_MEAN
EMERGENCYSTATE_MODE
No                   159428  0.518        0.070
Yes                    2328  0.008        0.096


TARGET : 2
         COUNT  RATIO  TARGET_MEAN
TARGET
0       282686  0.919        0.000
1        24825  0.081        1.000


FLAG_MOBIL : 2
             COUNT  RATIO  TARGET_MEAN
FLAG_MOBIL
0                1  0.000        0.000
1           307510  1.000        0.081


FLAG_EMP_PHONE : 2
                 COUNT  RATIO  TARGET_MEAN
FLAG_EMP_PHONE
0                55386  0.180        0.054
1               252125  0.820        0.087


FLAG_WORK_PHONE : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_WORK_PHONE
0                246203  0.801        0.077
1                 61308  0.199        0.096


FLAG_CONT_MOBILE : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_CONT_MOBILE
0                    574  0.002        0.078
1                 306937  0.998        0.081


FLAG_PHONE : 2
             COUNT  RATIO  TARGET_MEAN
FLAG_PHONE
0           221080  0.719        0.085
1            86431  0.281        0.070


FLAG_EMAIL : 2
             COUNT  RATIO  TARGET_MEAN
FLAG_EMAIL
0           290069  0.943        0.081
1            17442  0.057        0.079


REGION_RATING_CLIENT : 3
                       COUNT  RATIO  TARGET_MEAN
REGION_RATING_CLIENT
1                      32197  0.105        0.048
2                     226984  0.738        0.079
3                      48330  0.157        0.111


REGION_RATING_CLIENT_W_CITY : 3
                              COUNT  RATIO  TARGET_MEAN
REGION_RATING_CLIENT_W_CITY
1                             34167  0.111        0.048
2                            229484  0.746        0.079
3                             43860  0.143        0.114


REG_REGION_NOT_LIVE_REGION : 2
                             COUNT  RATIO  TARGET_MEAN
REG_REGION_NOT_LIVE_REGION
0                           302854  0.985        0.081
1                             4657  0.015        0.093


REG_REGION_NOT_WORK_REGION : 2
                             COUNT  RATIO  TARGET_MEAN
REG_REGION_NOT_WORK_REGION
0                           291899  0.949        0.080
1                            15612  0.051        0.089


LIVE_REGION_NOT_WORK_REGION : 2
                              COUNT  RATIO  TARGET_MEAN
LIVE_REGION_NOT_WORK_REGION
0                            295008  0.959        0.081
1                             12503  0.041        0.084


REG_CITY_NOT_LIVE_CITY : 2
                         COUNT  RATIO  TARGET_MEAN
REG_CITY_NOT_LIVE_CITY
0                       283472  0.922        0.077
1                        24039  0.078        0.122


REG_CITY_NOT_WORK_CITY : 2
                         COUNT  RATIO  TARGET_MEAN
REG_CITY_NOT_WORK_CITY
0                       236644  0.770        0.073
1                        70867  0.230        0.106


LIVE_CITY_NOT_WORK_CITY : 2
                          COUNT  RATIO  TARGET_MEAN
LIVE_CITY_NOT_WORK_CITY
0                        252296  0.820        0.077
1                         55215  0.180        0.100


DEF_60_CNT_SOCIAL_CIRCLE : 9
                           COUNT  RATIO  TARGET_MEAN
DEF_60_CNT_SOCIAL_CIRCLE
0.000                     280721  0.913        0.078
1.000                      21841  0.071        0.105
2.000                       3170  0.010        0.121
3.000                        598  0.002        0.159
4.000                        135  0.000        0.111
5.000                         20  0.000        0.150
6.000                          3  0.000        0.000
7.000                          1  0.000        0.000
24.000                         1  0.000        0.000


FLAG_DOCUMENT_2 : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_2
0                307498  1.000        0.081
1                    13  0.000        0.308


FLAG_DOCUMENT_3 : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_3
0                 89171  0.290        0.062
1                218340  0.710        0.088


FLAG_DOCUMENT_4 : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_4
0                307486  1.000        0.081
1                    25  0.000        0.000


FLAG_DOCUMENT_5 : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_5
0                302863  0.985        0.081
1                  4648  0.015        0.080


FLAG_DOCUMENT_6 : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_6
0                280433  0.912        0.083
1                 27078  0.088        0.056


FLAG_DOCUMENT_7 : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_7
0                307452  1.000        0.081
1                    59  0.000        0.051


FLAG_DOCUMENT_8 : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_8
0                282487  0.919        0.081
1                 25024  0.081        0.073


FLAG_DOCUMENT_9 : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_9
0                306313  0.996        0.081
1                  1198  0.004        0.062


FLAG_DOCUMENT_10 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_10
0                 307504  1.000        0.081
1                      7  0.000        0.000


FLAG_DOCUMENT_11 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_11
0                 306308  0.996        0.081
1                   1203  0.004        0.062


FLAG_DOCUMENT_12 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_12
0                 307509  1.000        0.081
1                      2  0.000        0.000


FLAG_DOCUMENT_13 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_13
0                 306427  0.996        0.081
1                   1084  0.004        0.028


FLAG_DOCUMENT_14 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_14
0                 306608  0.997        0.081
1                    903  0.003        0.033


FLAG_DOCUMENT_15 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_15
0                 307139  0.999        0.081
1                    372  0.001        0.030


FLAG_DOCUMENT_16 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_16
0                 304458  0.990        0.081
1                   3053  0.010        0.049


FLAG_DOCUMENT_17 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_17
0                 307429  1.000        0.081
1                     82  0.000        0.024


FLAG_DOCUMENT_18 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_18
0                 305011  0.992        0.081
1                   2500  0.008        0.057


FLAG_DOCUMENT_19 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_19
0                 307328  0.999        0.081
1                    183  0.001        0.066


FLAG_DOCUMENT_20 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_20
0                 307355  0.999        0.081
1                    156  0.001        0.083


FLAG_DOCUMENT_21 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_21
0                 307408  1.000        0.081
1                    103  0.000        0.136


AMT_REQ_CREDIT_BUREAU_HOUR : 5
                             COUNT  RATIO  TARGET_MEAN
AMT_REQ_CREDIT_BUREAU_HOUR
0.000                       264366  0.860        0.077
1.000                         1560  0.005        0.080
2.000                           56  0.000        0.107
3.000                            9  0.000        0.000
4.000                            1  0.000        0.000


AMT_REQ_CREDIT_BUREAU_DAY : 9
                            COUNT  RATIO  TARGET_MEAN
AMT_REQ_CREDIT_BUREAU_DAY
0.000                      264503  0.860        0.077
1.000                        1292  0.004        0.097
2.000                         106  0.000        0.104
3.000                          45  0.000        0.044
4.000                          26  0.000        0.115
5.000                           9  0.000        0.000
6.000                           8  0.000        0.000
8.000                           1  0.000        0.000
9.000                           2  0.000        0.000


AMT_REQ_CREDIT_BUREAU_WEEK : 9
                             COUNT  RATIO  TARGET_MEAN
AMT_REQ_CREDIT_BUREAU_WEEK
0.000                       257456  0.837        0.077
1.000                         8208  0.027        0.078
2.000                          199  0.001        0.101
3.000                           58  0.000        0.069
4.000                           34  0.000        0.118
5.000                           10  0.000        0.100
6.000                           20  0.000        0.050
7.000                            2  0.000        0.000
8.000                            5  0.000        0.000

In [77]:
# 3. Adım Rare encoder yapma
def rare_encoder(dataframe, rare_perc):
    temp_df = dataframe.copy()

    rare_columns = [col for col in temp_df.columns if temp_df[col].dtypes == 'O'
                    and (temp_df[col].value_counts() / len(temp_df) < rare_perc).any(axis=None)]

    for var in rare_columns:
        tmp = temp_df[var].value_counts() / len(temp_df)
        rare_labels = tmp[tmp < rare_perc].index
        temp_df[var] = np.where(temp_df[var].isin(rare_labels), 'Rare', temp_df[var])

    return temp_df

In [79]:
new_df = rare_encoder(df, 0.01)

In [81]:
rare_analyser(new_df, "TARGET", cat_cols)

NAME_CONTRACT_TYPE : 2
                     COUNT  RATIO  TARGET_MEAN
NAME_CONTRACT_TYPE
Cash loans          278232  0.905        0.083
Revolving loans      29279  0.095        0.055


CODE_GENDER : 3
              COUNT  RATIO  TARGET_MEAN
CODE_GENDER
F            202448  0.658        0.070
M            105059  0.342        0.101
Rare              4  0.000        0.000


FLAG_OWN_CAR : 2
               COUNT  RATIO  TARGET_MEAN
FLAG_OWN_CAR
N             202924  0.660        0.085
Y             104587  0.340        0.072


FLAG_OWN_REALTY : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_OWN_REALTY
N                 94199  0.306        0.083
Y                213312  0.694        0.080


NAME_TYPE_SUITE : 5
                  COUNT  RATIO  TARGET_MEAN
NAME_TYPE_SUITE
Children           3267  0.011        0.074
Family            40149  0.131        0.075
Rare               2907  0.009        0.094
Spouse, partner   11370  0.037        0.079
Unaccompanied    248526  0.808        0.082


NAME_INCOME_TYPE : 5
                       COUNT  RATIO  TARGET_MEAN
NAME_INCOME_TYPE
Commercial associate   71617  0.233        0.075
Pensioner              55362  0.180        0.054
Rare                      55  0.000        0.182
State servant          21703  0.071        0.058
Working               158774  0.516        0.096


NAME_EDUCATION_TYPE : 5
                                COUNT  RATIO  TARGET_MEAN
NAME_EDUCATION_TYPE
Higher education                74863  0.243        0.054
Incomplete higher               10277  0.033        0.085
Lower secondary                  3816  0.012        0.109
Rare                              164  0.001        0.018
Secondary / secondary special  218391  0.710        0.089


NAME_FAMILY_STATUS : 6
                       COUNT  RATIO  TARGET_MEAN
NAME_FAMILY_STATUS
Civil marriage         29775  0.097        0.099
Married               196432  0.639        0.076
Rare                       2  0.000        0.000
Separated              19770  0.064        0.082
Single / not married   45444  0.148        0.098
Widow                  16088  0.052        0.058


NAME_HOUSING_TYPE : 5
                      COUNT  RATIO  TARGET_MEAN
NAME_HOUSING_TYPE
House / apartment    272868  0.887        0.078
Municipal apartment   11183  0.036        0.085
Rare                   3739  0.012        0.070
Rented apartment       4881  0.016        0.123
With parents          14840  0.048        0.117


OCCUPATION_TYPE : 12
                       COUNT  RATIO  TARGET_MEAN
OCCUPATION_TYPE
Accountants             9813  0.032        0.048
Cleaning staff          4653  0.015        0.096
Cooking staff           5946  0.019        0.104
Core staff             27570  0.090        0.063
Drivers                18603  0.060        0.113
High skill tech staff  11380  0.037        0.062
Laborers               55186  0.179        0.106
Managers               21371  0.069        0.062
Medicine staff          8537  0.028        0.067
Rare                    9238  0.030        0.098
Sales staff            32102  0.104        0.096
Security staff          6721  0.022        0.107


WEEKDAY_APPR_PROCESS_START : 7
                            COUNT  RATIO  TARGET_MEAN
WEEKDAY_APPR_PROCESS_START
FRIDAY                      50338  0.164        0.081
MONDAY                      50714  0.165        0.078
SATURDAY                    33852  0.110        0.079
SUNDAY                      16181  0.053        0.079
THURSDAY                    50591  0.165        0.081
TUESDAY                     53901  0.175        0.084
WEDNESDAY                   51934  0.169        0.082


FONDKAPREMONT_MODE : 4
                       COUNT  RATIO  TARGET_MEAN
FONDKAPREMONT_MODE
not specified           5687  0.018        0.075
org spec account        5619  0.018        0.058
reg oper account       73830  0.240        0.070
reg oper spec account  12080  0.039        0.066


HOUSETYPE_MODE : 2
                 COUNT  RATIO  TARGET_MEAN
HOUSETYPE_MODE
Rare              2711  0.009        0.094
block of flats  150503  0.489        0.069


WALLSMATERIAL_MODE : 5
                    COUNT  RATIO  TARGET_MEAN
WALLSMATERIAL_MODE
Block                9253  0.030        0.070
Panel               66040  0.215        0.063
Rare                 5700  0.019        0.069
Stone, brick        64815  0.211        0.074
Wooden               5362  0.017        0.097


EMERGENCYSTATE_MODE : 2
                      COUNT  RATIO  TARGET_MEAN
EMERGENCYSTATE_MODE
No                   159428  0.518        0.070
Rare                   2328  0.008        0.096


TARGET : 2
         COUNT  RATIO  TARGET_MEAN
TARGET
0       282686  0.919        0.000
1        24825  0.081        1.000


FLAG_MOBIL : 2
             COUNT  RATIO  TARGET_MEAN
FLAG_MOBIL
0                1  0.000        0.000
1           307510  1.000        0.081


FLAG_EMP_PHONE : 2
                 COUNT  RATIO  TARGET_MEAN
FLAG_EMP_PHONE
0                55386  0.180        0.054
1               252125  0.820        0.087


FLAG_WORK_PHONE : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_WORK_PHONE
0                246203  0.801        0.077
1                 61308  0.199        0.096


FLAG_CONT_MOBILE : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_CONT_MOBILE
0                    574  0.002        0.078
1                 306937  0.998        0.081


FLAG_PHONE : 2
             COUNT  RATIO  TARGET_MEAN
FLAG_PHONE
0           221080  0.719        0.085
1            86431  0.281        0.070


FLAG_EMAIL : 2
             COUNT  RATIO  TARGET_MEAN
FLAG_EMAIL
0           290069  0.943        0.081
1            17442  0.057        0.079


REGION_RATING_CLIENT : 3
                       COUNT  RATIO  TARGET_MEAN
REGION_RATING_CLIENT
1                      32197  0.105        0.048
2                     226984  0.738        0.079
3                      48330  0.157        0.111


REGION_RATING_CLIENT_W_CITY : 3
                              COUNT  RATIO  TARGET_MEAN
REGION_RATING_CLIENT_W_CITY
1                             34167  0.111        0.048
2                            229484  0.746        0.079
3                             43860  0.143        0.114


REG_REGION_NOT_LIVE_REGION : 2
                             COUNT  RATIO  TARGET_MEAN
REG_REGION_NOT_LIVE_REGION
0                           302854  0.985        0.081
1                             4657  0.015        0.093


REG_REGION_NOT_WORK_REGION : 2
                             COUNT  RATIO  TARGET_MEAN
REG_REGION_NOT_WORK_REGION
0                           291899  0.949        0.080
1                            15612  0.051        0.089


LIVE_REGION_NOT_WORK_REGION : 2
                              COUNT  RATIO  TARGET_MEAN
LIVE_REGION_NOT_WORK_REGION
0                            295008  0.959        0.081
1                             12503  0.041        0.084


REG_CITY_NOT_LIVE_CITY : 2
                         COUNT  RATIO  TARGET_MEAN
REG_CITY_NOT_LIVE_CITY
0                       283472  0.922        0.077
1                        24039  0.078        0.122


REG_CITY_NOT_WORK_CITY : 2
                         COUNT  RATIO  TARGET_MEAN
REG_CITY_NOT_WORK_CITY
0                       236644  0.770        0.073
1                        70867  0.230        0.106


LIVE_CITY_NOT_WORK_CITY : 2
                          COUNT  RATIO  TARGET_MEAN
LIVE_CITY_NOT_WORK_CITY
0                        252296  0.820        0.077
1                         55215  0.180        0.100


DEF_60_CNT_SOCIAL_CIRCLE : 9
                           COUNT  RATIO  TARGET_MEAN
DEF_60_CNT_SOCIAL_CIRCLE
0.000                     280721  0.913        0.078
1.000                      21841  0.071        0.105
2.000                       3170  0.010        0.121
3.000                        598  0.002        0.159
4.000                        135  0.000        0.111
5.000                         20  0.000        0.150
6.000                          3  0.000        0.000
7.000                          1  0.000        0.000
24.000                         1  0.000        0.000


FLAG_DOCUMENT_2 : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_2
0                307498  1.000        0.081
1                    13  0.000        0.308


FLAG_DOCUMENT_3 : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_3
0                 89171  0.290        0.062
1                218340  0.710        0.088


FLAG_DOCUMENT_4 : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_4
0                307486  1.000        0.081
1                    25  0.000        0.000


FLAG_DOCUMENT_5 : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_5
0                302863  0.985        0.081
1                  4648  0.015        0.080


FLAG_DOCUMENT_6 : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_6
0                280433  0.912        0.083
1                 27078  0.088        0.056


FLAG_DOCUMENT_7 : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_7
0                307452  1.000        0.081
1                    59  0.000        0.051


FLAG_DOCUMENT_8 : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_8
0                282487  0.919        0.081
1                 25024  0.081        0.073


FLAG_DOCUMENT_9 : 2
                  COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_9
0                306313  0.996        0.081
1                  1198  0.004        0.062


FLAG_DOCUMENT_10 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_10
0                 307504  1.000        0.081
1                      7  0.000        0.000


FLAG_DOCUMENT_11 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_11
0                 306308  0.996        0.081
1                   1203  0.004        0.062


FLAG_DOCUMENT_12 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_12
0                 307509  1.000        0.081
1                      2  0.000        0.000


FLAG_DOCUMENT_13 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_13
0                 306427  0.996        0.081
1                   1084  0.004        0.028


FLAG_DOCUMENT_14 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_14
0                 306608  0.997        0.081
1                    903  0.003        0.033


FLAG_DOCUMENT_15 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_15
0                 307139  0.999        0.081
1                    372  0.001        0.030


FLAG_DOCUMENT_16 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_16
0                 304458  0.990        0.081
1                   3053  0.010        0.049


FLAG_DOCUMENT_17 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_17
0                 307429  1.000        0.081
1                     82  0.000        0.024


FLAG_DOCUMENT_18 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_18
0                 305011  0.992        0.081
1                   2500  0.008        0.057


FLAG_DOCUMENT_19 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_19
0                 307328  0.999        0.081
1                    183  0.001        0.066


FLAG_DOCUMENT_20 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_20
0                 307355  0.999        0.081
1                    156  0.001        0.083


FLAG_DOCUMENT_21 : 2
                   COUNT  RATIO  TARGET_MEAN
FLAG_DOCUMENT_21
0                 307408  1.000        0.081
1                    103  0.000        0.136


AMT_REQ_CREDIT_BUREAU_HOUR : 5
                             COUNT  RATIO  TARGET_MEAN
AMT_REQ_CREDIT_BUREAU_HOUR
0.000                       264366  0.860        0.077
1.000                         1560  0.005        0.080
2.000                           56  0.000        0.107
3.000                            9  0.000        0.000
4.000                            1  0.000        0.000


AMT_REQ_CREDIT_BUREAU_DAY : 9
                            COUNT  RATIO  TARGET_MEAN
AMT_REQ_CREDIT_BUREAU_DAY
0.000                      264503  0.860        0.077
1.000                        1292  0.004        0.097
2.000                         106  0.000        0.104
3.000                          45  0.000        0.044
4.000                          26  0.000        0.115
5.000                           9  0.000        0.000
6.000                           8  0.000        0.000
8.000                           1  0.000        0.000
9.000                           2  0.000        0.000


AMT_REQ_CREDIT_BUREAU_WEEK : 9
                             COUNT  RATIO  TARGET_MEAN
AMT_REQ_CREDIT_BUREAU_WEEK
0.000                       257456  0.837        0.077
1.000                         8208  0.027        0.078
2.000                          199  0.001        0.101
3.000                           58  0.000        0.069
4.000                           34  0.000        0.118
5.000                           10  0.000        0.100
6.000                           20  0.000        0.050
7.000                            2  0.000        0.000
8.000                            5  0.000        0.000

<h1 style="text-align: center; color: RED">ÖZELLİK ÖLÇEKLENDİRME(FEATURE SCALİNG)</h1>

Özellik ölçeklendirmedeki amaçlardan birisi değişkenler arasındaki ölçüm farklılığını gidermektir. Kullanılacak modellerin değişkenlere eşit şartlarda yaklaşmasını sağlamamız gerekmektedir.
![Test](datasets/11.png)

Diğer bir amacımız ise özellikle gradient descent kullanan algoritmaların train sürelerini kısaltmaktır.
![Test](datasets/12.png)

KNN gibi uzaklık temelli yöntemlerde scale yapmamak yanlılığa sebep olabilir. Bu sebeple verimizi ölçeklendirmeliyiz.

<span style="color: blue; font-weight: bold;">1-STANDART SCALER</span>

StandardScaler, makine öğrenmesinde kullanılan ölçeklendirme (scaling) yöntemlerinden biridir ve verileri ortalaması 0, standart sapması 1 olacak şekilde dönüştürür.

Standartlaştırma, şu formülle yapılır:

z= σ/x−μ

x → orijinal değer

μ → sütunun ortalaması

σ → sütunun standart sapması

Bu işlem sonucunda:

Ortalama (mean) = 0

Standart sapma (std) = 1

Değerler, normal dağılıma daha yakın hale gelir (özellikle veri zaten Gaussian dağılımına yakınsa).

In [90]:
df = load()
ss = StandardScaler()
df["Age_standard_scaler"] = ss.fit_transform(df[["Age"]])
df.head()

   PassengerId  Survived  Pclass                                               Name     Sex    Age  SibSp  Parch            Ticket   Fare Cabin Embarked  Age_standard_scaler
0            1         0       3                            Braund, Mr. Owen Harris    male 22.000      1      0         A/5 21171  7.250   NaN        S               -0.530
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female 38.000      1      0          PC 17599 71.283   C85        C                0.572
2            3         1       3                             Heikkinen, Miss. Laina  female 26.000      0      0  STON/O2. 3101282  7.925   NaN        S               -0.255
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female 35.000      1      0            113803 53.100  C123        S                0.365
4            5         0       3                           Allen, Mr. William Henry    male 35.000      0      0            373450  8.050   NaN        S                0.365

<span style="color: blue; font-weight: bold;">2-ROBUST SCALER</span>

RobustScaler, verileri ölçeklendirirken ortalama ve standart sapma yerine medyan ve IQR (Interquartile Range) kullanır.
Formülü şu şekildedir:

x−Medyan /IQR

 
Medyan → Ortanca değer

IQR (Interquartile Range) = Q3 − Q1 (3. çeyrek - 1. çeyrek)

| Özellik        | StandardScaler                                      | RobustScaler                                        |
| -------------- | --------------------------------------------------- | --------------------------------------------------- |
| Merkezleme     | Ortalama (mean)                                     | Medyan                                              |
| Ölçekleme      | Standart sapma (std)                                | IQR                                                 |
| Outlier etkisi | **Yüksek** (uç değerler ortalamayı ve std’yi bozar) | **Düşük** (medyan ve IQR uç değerlerden etkilenmez) |
| Kullanım alanı | Normal dağılıma yakın veriler                       | Uç değer (outlier) içeren veriler                   |

Aykırı değerlerden etkilenmemektedir.

In [95]:
rs = RobustScaler()
df["Age_robuts_scaler"] = rs.fit_transform(df[["Age"]])
df.describe().T

                      count    mean     std    min     25%     50%     75%     max
PassengerId         891.000 446.000 257.354  1.000 223.500 446.000 668.500 891.000
Survived            891.000   0.384   0.487  0.000   0.000   0.000   1.000   1.000
Pclass              891.000   2.309   0.836  1.000   2.000   3.000   3.000   3.000
Age                 714.000  29.699  14.526  0.420  20.125  28.000  38.000  80.000
SibSp               891.000   0.523   1.103  0.000   0.000   0.000   1.000   8.000
Parch               891.000   0.382   0.806  0.000   0.000   0.000   0.000   6.000
Fare                891.000  32.204  49.693  0.000   7.910  14.454  31.000 512.329
Age_standard_scaler 714.000   0.000   1.001 -2.017  -0.660  -0.117   0.572   3.465
Age_robuts_scaler   714.000   0.095   0.813 -1.543  -0.441   0.000   0.559   2.909

<span style="color: blue; font-weight: bold;">3-MİN-MAX SCALER</span>

MinMaxScaler, verileri belirli bir aralığa (genellikle 0 ile 1) ölçeklendiren bir yöntemdir.
Formülü şöyledir:


 x−xmin/ xmax - xmin

x → orijinal değer

x min→ sütundaki minimum değer

𝑥max→ sütundaki maksimum değer

Sonuç olarak:

Minimum değer 0 olur.

Maksimum değer 1 olur.

Diğer değerler bu aralıkta yeniden ölçeklenir.

In [101]:
mms = MinMaxScaler()
df["Age_min_max_scaler"] = mms.fit_transform(df[["Age"]])
df.describe().T

                      count    mean     std    min     25%     50%     75%     max
PassengerId         891.000 446.000 257.354  1.000 223.500 446.000 668.500 891.000
Survived            891.000   0.384   0.487  0.000   0.000   0.000   1.000   1.000
Pclass              891.000   2.309   0.836  1.000   2.000   3.000   3.000   3.000
Age                 714.000  29.699  14.526  0.420  20.125  28.000  38.000  80.000
SibSp               891.000   0.523   1.103  0.000   0.000   0.000   1.000   8.000
Parch               891.000   0.382   0.806  0.000   0.000   0.000   0.000   6.000
Fare                891.000  32.204  49.693  0.000   7.910  14.454  31.000 512.329
Age_standard_scaler 714.000   0.000   1.001 -2.017  -0.660  -0.117   0.572   3.465
Age_robuts_scaler   714.000   0.095   0.813 -1.543  -0.441   0.000   0.559   2.909
Age_min_max_scaler  714.000   0.368   0.183  0.000   0.248   0.347   0.472   1.000

* Scale yaptığımızda verinin dağılımı değişmez sadece ölçeği değişir.