 <h1 style="text-align: center; color: RED">ÖDEV ÇÖZÜMLERİ-2</h1>

<span style="color: blue; font-weight: bold;">GÖREV1:</span> List Comprehension yapısı kullanarak car_crashes verisindeki numeric değişkenlerin isimlerini büyük harfe çeviriniz ve başına NUM ekleyiniz. Numeric olmayan değişkenlerin de isimleri büyümeli.Tek bir list comprehension yapısı kullanılmalı.

In [11]:
import seaborn as sns
df = sns.load_dataset('car_crashes')
print(df.columns)
['NUM_' + col.upper() if df[col].dtype !='O' else col.upper() for col in df.columns ]

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

['NUM_TOTAL',
 'NUM_SPEEDING',
 'NUM_ALCOHOL',
 'NUM_NOT_DISTRACTED',
 'NUM_NO_PREVIOUS',
 'NUM_INS_PREMIUM',
 'NUM_INS_LOSSES',
 'ABBREV']

<span style="color: blue; font-weight: bold;">GÖREV2:</span> List Comprehension yapısı kullanarak car_crashes verisinde isminde "no" barındırmayan değişkenlerin isimlerinin sonuna"FLAG" yazınız.
Tüm değişkenlerin isimleri büyük harf olmalı.Tek bir list comprehension yapısı ile yapılmalı.

In [17]:
df = sns.load_dataset('car_crashes')
[col.upper() + '_FLAG' if 'no' not in col else col.upper() for col in df.columns]

['TOTAL_FLAG',
 'SPEEDING_FLAG',
 'ALCOHOL_FLAG',
 'NOT_DISTRACTED',
 'NO_PREVIOUS',
 'INS_PREMIUM_FLAG',
 'INS_LOSSES_FLAG',
 'ABBREV_FLAG']

<span style="color: blue; font-weight: bold;">GÖREV3:</span>   List Comprehension yapısı kullanarak aşağıda verilen değişken isimlerinden FARKLI olan değişkenlerin isimlerini seçiniz ve yeni bir dataframe oluşturunuz.

In [33]:
df = sns.load_dataset('car_crashes')
ogg_list = ['abbrev', 'no_previous']
new_cols = [col  for col in df. columns if col not in ogg_list]
print(new_cols)
new_df = df[new_cols]
new_df.head()

['total', 'speeding', 'alcohol', 'not_distracted', 'ins_premium', 'ins_losses']

   total  speeding  alcohol  not_distracted  ins_premium  ins_losses
0   18.8     7.332    5.640          18.048       784.55      145.08
1   18.1     7.421    4.525          16.290      1053.48      133.93
2   18.6     6.510    5.208          15.624       899.47      110.35
3   22.4     4.032    5.824          21.056       827.34      142.39
4   12.0     4.200    3.360          10.920       878.41      165.63