 <h1 style="text-align: center; color: RED">ÖLÇÜMLEME PROBLEMLERİ</h1>

 <h2 style="text-align: center; color: RED">RATİNG PRODUCTS</h2>

<span style="color: blue; font-weight: bold;">Bir Ürünü Satın Aldıran Nedir?</span> 

Kullanıcı ürünler arasında seçim yapıp, satın alma kararını etkileyecek pek çok faktör vardır. Bunlardan birisi son zamanlarda öne çıkan social proof kavramı yani sosyal ispat kavramıdır.Ürün yorumları, ürün yorumlarına bakılarak toplumun bu ürüne ne tepki verdiği üzerinden ürün hakkında bilgi edinilmeye çalışılır. Diğer bir kavram ise the wisdom of crowds'dur. Kalabalıkların bilgeliği anlamına gelir yani çoğunluk bunu beğendiyse bende beğenirim demektir.Kullanıcının şöyle bir derdi vardır: Fiyat ve performans açısından en iyi ürüne nasıl ulaşmalıyım. Pazar yeri ise : Kullanıcılara en doğru şekilde ürünleri ulaştırmalıyım derdinde olmalıdır. Bu kısımda biz geliştiricleri ilgilendiren başlıklar ise şunlardır:

* Ürün puanlarının hesaplanması
* Ürünlerin sıralanması
* Ürünlerin detay sayfalarındaki kullanıcı yorumlarının sıralanması
* Syafa,süreç ve etkileşim alanlarının tasarımları
* Özellik denemeleri
* Olası aksiyonların ve reaksiyonların test edilmesi

<span style="color: blue; font-weight: bold;">Olası faktörleri göz önünde bulundurarak ağırlıklı ürün puanlama</span>

<span style="color: blue; font-weight: bold;">1-AVERAGE(ORTALAMA) İLE ÜRÜN PUANLAMA</span>

In [61]:
import pandas as pd
import math
import scipy.stats as st
from sklearn.preprocessing import MinMaxScaler

In [22]:
pd.set_option('display.max_columns',None)
pd.set_option('display.width',500)
pd.set_option('display.expand_frame_repr',False)
pd.set_option('display.float_format',lambda x:'%.5f' % x)#sıfırdan sonra beş sayı gösterir.

**Kurs ve kursla alakalı bilgiler**

Amacımız kursa verilen puanların puanını hesaplamak

(50+ Saat) Python A-Z™: Veri Bilimi ve Machine Learning

Puan: 4.8 (4.764925)

Toplam Puan: 4611

Puan Yüzdeleri: 75, 20, 4, 1, <1

Yaklaşık Sayısal Karşılıkları: 3458, 922, 184, 46, 6

In [30]:
df_ = pd.read_csv("C:\\Users\\ASLI\\Desktop\\Data Scientist Bootcamp\\4.Measurement Problems\\datasets\\course_reviews.csv")

In [32]:
df = df_.copy()

In [34]:
df.head()

   Rating            Timestamp             Enrolled  Progress  Questions Asked  Questions Answered
0 5.00000  2021-02-05 07:45:55  2021-01-25 15:12:08   5.00000          0.00000             0.00000
1 5.00000  2021-02-04 21:05:32  2021-02-04 20:43:40   1.00000          0.00000             0.00000
2 4.50000  2021-02-04 20:34:03  2019-07-04 23:23:27   1.00000          0.00000             0.00000
3 5.00000  2021-02-04 16:56:28  2021-02-04 14:41:29  10.00000          0.00000             0.00000
4 4.00000  2021-02-04 15:00:24  2020-10-13 03:10:07  10.00000          0.00000             0.00000

Rating : Kursa puan veren kişileri ifade eder.Kaç puan verdiğini ifade eder.

Timestamp: Puan verdiği tarih

Enrolled: Üye olduğu tarih

Progress : Kursun yüzde kaçını izlediği

Questions Asked : Kurs hakkında sorduğu soru sayısı

Questions Answered : Sorusuna karşılık aldığı cevap sayısı

In [39]:
df.shape

(4323, 6)

**Veriyi tanımak adına bazı işlemler yapabiliriz.**

In [46]:
#rating dağılımı
df['Rating'].value_counts()

Rating
5.00000    3267
4.50000     475
4.00000     383
3.50000      96
3.00000      62
1.00000      15
2.00000      12
2.50000      11
1.50000       2
Name: count, dtype: int64

In [48]:
df['Questions Asked'].value_counts()

Questions Asked
0.00000     3867
1.00000      276
2.00000       80
3.00000       43
4.00000       15
5.00000       13
6.00000        9
8.00000        5
9.00000        3
14.00000       2
11.00000       2
7.00000        2
10.00000       2
15.00000       2
22.00000       1
12.00000       1
Name: count, dtype: int64

In [58]:
#sorulan soru kırılımında verilen puan ortalaması
df.groupby('Questions Asked').agg({'Questions Asked':'count',
                                   'Rating':'mean'})

                 Questions Asked  Rating
Questions Asked
0.00000                     3867 4.76519
1.00000                      276 4.74094
2.00000                       80 4.80625
3.00000                       43 4.74419
4.00000                       15 4.83333
5.00000                       13 4.65385
6.00000                        9 5.00000
7.00000                        2 4.75000
8.00000                        5 4.90000
9.00000                        3 5.00000
10.00000                       2 5.00000
11.00000                       2 5.00000
12.00000                       1 5.00000
14.00000                       2 4.50000
15.00000                       2 3.00000
22.00000                       1 5.00000

In [64]:
# Ortalama puan
df['Rating'].mean()

4.764284061993986

**NOT** : Sadece ortalama üzerinde puan hesaplamak  bazı şeylerin göz ardı edilmesine sebep olabilir. Örneğin son zamanlardaki trendleri kaçırabiliyor olabiliriz.Örneğin bir yıl önce ilk üç ayda bu kursla lgili yüksek memnuniyet olabilir ama bir yılın son üç ayında bu trend değişmiş olabilir, kursla ilgili problemler çıkmış olabilir ve ürünün popülerliği kaybolmuş  olabilir.

<span style="color: blue; font-weight: bold;">2-PUAN ZAMANLARINA GÖRE AĞIRLIKLI ORTALAMA HESAPLAMA(TİME-BASED WEİGHTED AVERAGE)</span>

In [70]:
df.head()

   Rating            Timestamp             Enrolled  Progress  Questions Asked  Questions Answered
0 5.00000  2021-02-05 07:45:55  2021-01-25 15:12:08   5.00000          0.00000             0.00000
1 5.00000  2021-02-04 21:05:32  2021-02-04 20:43:40   1.00000          0.00000             0.00000
2 4.50000  2021-02-04 20:34:03  2019-07-04 23:23:27   1.00000          0.00000             0.00000
3 5.00000  2021-02-04 16:56:28  2021-02-04 14:41:29  10.00000          0.00000             0.00000
4 4.00000  2021-02-04 15:00:24  2020-10-13 03:10:07  10.00000          0.00000             0.00000

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4323 entries, 0 to 4322
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rating              4323 non-null   float64
 1   Timestamp           4323 non-null   object
 2   Enrolled            4323 non-null   object
 3   Progress            4323 non-null   float64
 4   Questions Asked     4323 non-null   float64
 5   Questions Answered  4323 non-null   float64
dtypes: float64(4), object(2)
memory usage: 202.8+ KB

In [76]:
#Zaman değişkenlerininin tipini değiştirme
df['Timestamp'] = df['Timestamp'].apply(pd.to_datetime)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4323 entries, 0 to 4322
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rating              4323 non-null   float64
 1   Timestamp           4323 non-null   datetime64[ns]
 2   Enrolled            4323 non-null   object
 3   Progress            4323 non-null   float64
 4   Questions Asked     4323 non-null   float64
 5   Questions Answered  4323 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 202.8+ KB

Yorum yapılan tarihin veri tipini değiştirdik şimdi bize yorum yapılan gün sayısı lazım.Örneğin 3 gün önce yorum yapıldı ya da 5 gün önce yorum yapıldı gibi.Bunun için bir analiz günü belirlemeliyiz.

In [82]:
current_date = pd.to_datetime('2021-02-10 0:0:0')

In [84]:
df['days'] = (current_date - df['Timestamp']).dt.days

In [86]:
df.head()

   Rating           Timestamp             Enrolled  Progress  Questions Asked  Questions Answered  days
0 5.00000 2021-02-05 07:45:55  2021-01-25 15:12:08   5.00000          0.00000             0.00000     4
1 5.00000 2021-02-04 21:05:32  2021-02-04 20:43:40   1.00000          0.00000             0.00000     5
2 4.50000 2021-02-04 20:34:03  2019-07-04 23:23:27   1.00000          0.00000             0.00000     5
3 5.00000 2021-02-04 16:56:28  2021-02-04 14:41:29  10.00000          0.00000             0.00000     5
4 4.00000 2021-02-04 15:00:24  2020-10-13 03:10:07  10.00000          0.00000             0.00000     5

In [90]:
#Son 30 günde yapılan yorumlar
df.loc[df['days']<=30]

     Rating           Timestamp             Enrolled  Progress  Questions Asked  Questions Answered  days
0   5.00000 2021-02-05 07:45:55  2021-01-25 15:12:08   5.00000          0.00000             0.00000     4
1   5.00000 2021-02-04 21:05:32  2021-02-04 20:43:40   1.00000          0.00000             0.00000     5
2   4.50000 2021-02-04 20:34:03  2019-07-04 23:23:27   1.00000          0.00000             0.00000     5
3   5.00000 2021-02-04 16:56:28  2021-02-04 14:41:29  10.00000          0.00000             0.00000     5
4   4.00000 2021-02-04 15:00:24  2020-10-13 03:10:07  10.00000          0.00000             0.00000     5
..      ...                 ...                  ...       ...              ...                 ...   ...
189 5.00000 2021-01-11 07:39:11  2021-01-06 09:44:34  15.00000          1.00000             1.00000    29
190 5.00000 2021-01-11 07:21:57  2020-06-30 20:14:04   5.00000          0.00000             0.00000    29
191 5.00000 2021-01-11 00:34:30  2020-12-31 20:33:13   5.00000          0.00000             0.00000    29
192 5.00000 2021-01-10 18:45:38  2020-03-03 08:29:43   0.00000          0.00000             0.00000    30
193 5.00000 2021-01-10 18:23:03  2020-12-04 20:01:01  20.00000          0.00000             0.00000    30

[194 rows x 7 columns]

In [94]:
df.loc[df['days']<=30,'Rating'].mean() #son 30 günde yapılan puanların ortalaması

4.775773195876289

In [96]:
#31 ile 90 gün arasındaki puanların ortalaması
df.loc[(df['days']>30) & (df['days']<=90),'Rating'].mean()

4.763833992094861

In [102]:
#90 ile 180. gün arası
df.loc[(df['days']>90)&(df['days']<=180),'Rating'].mean()

4.752503576537912

In [104]:
df.loc[(df['days']>180),'Rating'].mean()

4.76641586867305

Zamana göre ortalamalara baktık. En güncel zamanda puanların ortalamaların daha yüksek oldugunu gördük. Şimdi bu zamanlara göre ağırlık vererek bir ortalama elde edebiliriz.Verdiğimiz ağırlıkların toplamı 100 olmalı.Güncel olan yorumlara daha fazla ağırlık verdik.

In [108]:
df.loc[df['days']<=30,'Rating'].mean() * 0.28 + \
df.loc[(df['days']>30) & (df['days']<=90),'Rating'].mean() * 0.26 +\
df.loc[(df['days']>90)&(df['days']<=180),'Rating'].mean() * 0.24 +\
df.loc[(df['days']>180),'Rating'].mean() * 0.22

4.765025682267194

In [117]:
def time_based_weighted_average(dataframe, w1=0.28,w2=0.26,w3=0.24,w4=0.22):
    return df.loc[df['days']<=30,'Rating'].mean() * w1 + \
           df.loc[(df['days']>30) & (df['days']<=90),'Rating'].mean() *w2 +\
           df.loc[(df['days']>90)&(df['days']<=180),'Rating'].mean() * w3 +\
           df.loc[(df['days']>180),'Rating'].mean() * w4

In [119]:
time_based_weighted_average(df, w1=0.30,w2=0.26,w3=0.22,w4=0.22)

4.765491074653962

<span style="color: blue; font-weight: bold;">3-KULLANICI TEMELLİ AĞIRLIKLI ORTALAMA(USER-BASED WEİGHTED AVERAGE)</span>

Her kullanıcının verdiği puan aynı ağırlıkta mı olmalı? Örneğin kursun %75'ini izleyenle %5'ini izleyenin verdiği puan aynı değere mi sahip olmalı?

In [125]:
df.groupby('Progress').agg({'Rating':'mean'})

           Rating
Progress
0.00000   4.67391
1.00000   4.64269
2.00000   4.65476
3.00000   4.66355
4.00000   4.77733
...           ...
94.00000  5.00000
95.00000  4.79412
97.00000  5.00000
98.00000  5.00000
100.00000 4.86632

[91 rows x 1 columns]

Yukarıdaki analize bakınca kursun izlenme oranı ile verilen puan arasında bir iişki var gibi.

In [128]:
def user_based_weighted_average(dataframe,w1=0.22,w2=0.24,w3=0.26,w4=0.28):
    return df.loc[df['Progress']<=10,'Rating'].mean() * w1 + \
           df.loc[(df['Progress'] > 10) & (df['Progress'] <=45),'Rating'].mean()*w2 +\
           df.loc[(df['Progress'] > 45) & (df['Progress'] <=75),'Rating'].mean()*w3 +\
           df.loc[(df['Progress'] > 75) ,'Rating'].mean()*w4

In [130]:
user_based_weighted_average(df)

4.800257704672543

<span style="color: blue; font-weight: bold;">4-AĞIRLIKLI DERECELENDİRME(WEİGHTED RATİNG)</span>

In [134]:
def course_weighted_rating(dataframe, time_w=0.5, user_w=0.5):
    return time_based_weighted_average(dataframe, w1=0.28,w2=0.26,w3=0.24,w4=0.22)*time_w+\
           user_based_weighted_average(dataframe,w1=0.22,w2=0.24,w3=0.26,w4=0.28)*user_w

In [136]:
course_weighted_rating(df, time_w=0.5, user_w=0.5)

4.782641693469868

Not: Ağırlıkları istediğimiz şeklide değiştirebiliriz.